<div class="comunas-popup">
	<div class="comunas-box">
		<span class="close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
		<span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
		<h2>Empieza a comprar</h2>
		<span class="text">Revisa las comunas en que atendemos:</span>
		<div class="commune-select">
			<div class="label">
				<span class="value">Selecciona tu Comuna <i class="fa fa-angle-down" aria-hidden="true"></i></span>
			</div>
			<div class="options">
				<div data-name="colina" class="option" data-active="true" data-postalcode="9350000" data-state="REGIÓN METROPOLITANA">Colina</div>
				<div data-name="huechuraba" class="option" data-active="true" data-postalcode="8580000" data-state="REGIÓN METROPOLITANA">Huechuraba</div>
				<div data-name="la-reina" class="option" data-active="true" data-postalcode="7850000" data-state="REGIÓN METROPOLITANA">La Reina</div>
				<div data-name="las-condes" class="option" data-active="true" data-postalcode="7550000" data-state="REGIÓN METROPOLITANA">Las Condes</div>
				<div data-name="lo-barnechea" class="option" data-active="true" data-postalcode="7690000" data-state="REGIÓN METROPOLITANA">Lo Barnechea</div>
				<div data-name="penalolen" class="option" data-active="true" data-postalcode="7910000" data-state="REGIÓN METROPOLITANA">Peñalolén</div>
				<div data-name="providencia" class="option" data-active="true" data-postalcode="7500000" data-state="REGIÓN METROPOLITANA">Providencia</div>
				<div data-name="recoleta" class="option" data-active="true" data-postalcode="8420000" data-state="REGIÓN METROPOLITANA">Recoleta</div>
				<div data-name="santiago" class="option" data-active="true" data-postalcode="8320000" data-state="REGIÓN METROPOLITANA">Santiago</div>
				<div data-name="vitacura" class="option" data-active="true" data-postalcode="7630000" data-state="REGIÓN METROPOLITANA">Vitacura</div>
				<div data-name="maipu" class="option" data-active="true" data-postalcode="9250000" data-state="REGIÓN METROPOLITANA">Maipú</div>
				<div data-name="nunoa" class="option" data-active="true" data-postalcode="7750000" data-state="REGIÓN METROPOLITANA">Ñuñoa</div>
			</div>
		</div>
	</div>
</div>