<div class="bloque">
    <div class="left">
        <h2>1. Revisa las comunas en que atendemos:</h2>
        <div class="image"><img src="/arquivos/elige-tu-comuna.jpg" alt="" /></div>        
    </div>
    <div class="right">
        <h2>2. Elige los productos</h2>
        <h3>Compre por categoria</h3>
        <div class="image"><img src="/arquivos/comprar-por-categoria.jpg" alt="" /></div>            
    </div>
</div>
<div class="bloque">
    <div class="left">
        <h3>Compre por categoria especiales</h3>
        <div class="image"><img src="/arquivos/categorias-especiales.jpg" alt="" /></div>
    </div>
    <div class="right">
        <h3>Compre por ofertas especiales</h3>
        <div class="image"><img src="/arquivos/grilla-destacados.jpg" alt="" /></div>
    </div>
</div>
<div class="bloque">
    <div class="left">
        <h3>Haga click en pagar</h3>
        <div class="image"><img src="/arquivos/click-pagar.jpg" alt="" /></div>
    </div>
    <div class="right">
        <h3>Revisa tu carro</h3>
        <div class="image"><img src="/arquivos/revise-tu-carro.jpg" alt="" /></div>
    </div>
</div>
<div class="bloque">
    <div class="left">
        <h2>3. Agenda un despacho</h2>
        <div class="image"><img src="/arquivos/horario-de-despacho.jpg" alt="" /></div>
    </div>
    <div class="right">
        <h3>Elija un medio de pago</h3>
        <div class="image"><img src="/arquivos/metodo-de-pago.jpg" alt="" /></div>        
    </div>
</div>
<div class="bloque">
    <div class="left">
        <h3>Seleccione finalizar compras</h3>
        <div class="image"><img src="/arquivos/finalizar-compras.jpg" alt="" /></div>
    </div>
    <div class="right">
        <h3>Revisa tu pedido</h3>
        <div class="image"><img src="/arquivos/pedido-finalizado.jpg" alt="" /></div>        
    </div>
</div>
<div class="bloque">
    <div class="left">
        <h2>4. Recibe en tu casa</h2>
        <div class="image"><img src="/arquivos/reciba-en-tu-casa.jpg" alt="" /></div>
    </div>
    <div class="right gracias">
        <div class="icon">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        </div>
        <h4>¡Gracias por comprar en elSuper.cl!</h4>
    </div>
</div>