<div class="darkbackground modal-compra" style="display: none;">
    <div class="whitebackground">
        <div class="close"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
        <div class="image">
            <a href="/delivery">
                <img src="/arquivos/popup.png" alt="Compre hoy, recibe hoy">
            </a>
        </div>
    </div>
</div>