<div class="franja-container">
	<div class="franja-box">
		<div class="loading"><div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
		<div class="content-container">
			<div class="top">
			<h3>Horario de Despacho</h3>
				<span class="close">
					<i class="fa fa-times-circle" aria-hidden="true"></i>
				</span>
			</div>
			<p class="info">Selecciona el horario de despacho que más te acomode.</p>
			<div class="table">
				<table id="franja">
					<thead>
						<tr id="mes">
							<th class="title">Horarios</th>
						</tr>
					</thead>
					<tbody>
						<tr id="hora-1">
							<td class="hora-title">08:00 - 10:00</td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
						</tr>
						<tr id="hora-2">
							<td class="hora-title">10:00 - 12:00</td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
						</tr>
						<tr id="hora-3">
							<td class="hora-title">12:00 - 14:00</td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
						</tr>
						<tr id="hora-4">
							<td class="hora-title">14:00 - 16:00</td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
						</tr>
						<tr id="hora-5">
							<td class="hora-title">16:00 - 18:00</td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
						</tr>
						<tr id="hora-6">
							<td class="hora-title">18:00 - 20:00</td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
						</tr>
						<tr id="hora-7">
							<td class="hora-title">20:00 - 22:00</td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
							<td class="status no-delivery"> --- </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>