<nav>
	<div class="warp">
		<div class="menu">
			<div class="left">
				<h2 class="hamburger">
					<i class="fa fa-bars" aria-hidden="true"></i> Departamentos
					<i class="fa fa-angle-down" aria-hidden="true"></i>
				</h2>
				<div id="menu">
					<vtex.cmc:menu />
				</div>
				<div class="departmentNavigator" style="display: none;">
					<vtex.cmc:departmentNavigator />
				</div>
				<div id="bannermenu">
					<vtex.cmc:bannermenu />
				</div>
			</div>
			<div class="middle">
				<div id="sidekick"></div>
			</div>
			<div class="rigth">
				<div id="cart">
					<span class="icon"></span>
					<p class="text">
						<span class="total">$0,00</span>
						<span class="amount">0 item(s)</span>
					</p>
				</div>
				<div id="minicart"></div>
				<div id="comunas">
					<div class="loading">
						<div class="spinner">
							<div class="bounce1"></div>
							<div class="bounce2"></div>
							<div class="bounce3"></div>
						</div>
					</div>
					<h2>Empieza a comprar</h2>
					<ol class="steps">
						<li class="step step-1">
							<div class="noselect">
								<div class="content">
									<span class="icon">
										<i class="fa fa-map-marker" aria-hidden="true"></i>
									</span>
									<span class="text">1. Revisa las comunas en que atendemos:</span>
								</div>
								<div class="commune-select">
									<div class="label">
										<span class="value">Selecciona tu Comuna
											<i class="fa fa-angle-down" aria-hidden="true"></i>
										</span>
									</div>
									<div class="options"></div>
								</div>
							</div>
							<div class="select">
								<span class="icon">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
								</span>
								<h3 class="text">Estás comprando en
									<span class="place">Santiago</span>
								</h3>
								<button class="change-commune">Cambiar de comuna</button>
							</div>
						</li>
						<li class="step step-2">
							<div class="content">
								<span class="icon">
									<i class="fa fa-cart-plus" aria-hidden="true"></i>
								</span>
								<span class="text">2. Elige los productos</span>
							</div>
						</li>
						<li class="step step-3">
							<div class="content">
								<span class="icon">
									<i class="fa fa-calendar" aria-hidden="true"></i>
								</span>
								<span class="text">3. Agenda un despacho</span>
							</div>
						</li>
						<li class="step step-4">
							<div class="content">
								<span class="icon">
									<i class="fa fa-home" aria-hidden="true"></i>
								</span>
								<span class="text">4. Recibe en tu casa</span>
							</div>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</nav>