<div class="newsletter">
	<h3>Suscríbete al newsletter y recibe grandes descuentos</h3>
	<span class="input">
		<input type="text" name="email" id="email" placeholder="Ingresa tu mail..." />
		<button id="send"><i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar</button>
	</span>
</div>