<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
<head>
    <title>elSuper.cl | Carro de Compra</title>
    <vtex:metaTags/>
    <vtex:template id="Metas" />
    <link rel="stylesheet" href="/files/cart.css" />
    <style>
        .save-cart {
            visibility: hidden;
            background: #001F62!important
        }

        .save-cart:hover {
            background: #0b3993!important
        }

        .save-cart .load-save {
            display: none
        }

        #summary-wrapper .coupon .coupon-register .coupon-input-wrapper #coupon-input {
            width: calc(100% - 80px)
        }

        #summary-wrapper .coupon .coupon-register .text {
            font-size: 1rem
        }

        #summary-wrapper .coupon .coupon-register .coupon-input-wrapper #send-coupon {
            position: absolute;
            width: 80px;
            color: #fff;
            padding: 10px 0;
            background: #EF5A29;
            font-size: .9em;
            font-family: Ubuntu, Arial, Helvetica, sans-serif
        }

        #summary-wrapper .coupon .coupon-register .coupon-input-wrapper #send-coupon:hover {
            background: #0c9
        }
    </style>
    <script src="/files/cart.js" type="text/javascript"></script>
    <vtex:template id="0-metas-mobile" />
</head>

<body class="cart">
    <div id="all-content">

        <header id="checkout-header">
            <div class="logo-wrapper">
                <a href="/">
                    <img src="/arquivos/3_11-Logo-ElSuper-Cyber.png" alt="elSuper Cyber 2016" class="logoCyber" style="display:none;" />
                    <i class="logo"></i>
                </a>
            </div>

            <div class="title">
                <i class="cart"></i>
                <h1 class="text text-cart">Carro de Compra</h1>
            </div>


            <div class="safe-site">
                <i class="padlock"></i>
                <span class="text">SITIO SEGURO</span>
            </div>

        </header>

        <div id="main-content">
            <div class="main-loader loader">
                <div class="spinner1">
                    <svg class="circular" viewBox="25 25 50 50">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                    </svg>
                </div>
            </div>

            <div id="message">
                <div class="content">
                    <div class="close-message">
                        <i class="close-thick"></i>
                    </div>
                    <div class="table">
                        <div class="text table-cell">
                        </div>
                    </div>
                </div>
            </div>

            <div id="cart-content">


                <div id="product-control-wrapper">
                    <div class="header">
                        <div class="total-products">
                            Tienes
                            <span class="value">0 Productos</span> en el carro.
                        </div>

                        <div class="button missyou-list">
                            <a href="#" class="modalmissyou-list">
                                <i class="list"></i>
                                <span class="modalmissyou-list-txt">¿Qué productos te faltaron?</span>
                            </a>
                        </div>

                        <div class="buttons">
                            <div class="button save-cart full-gray">¿Quieres hacer de este carro una lista?</div>
                            <div class="button select-all full-gray">SELECCIONAR TODO</div>
                            <div class="button remove-selected full-gray">ELIMINAR PRODUCTOS SELECCIONADOS</div>
                            <div class="button add-list gray">
                                <i class="add-list"></i>
                                <vtex.cmc:GiftListInsertSkuV2 />
                            </div>
                        </div>
                    </div>

                    <div id="cart-items">

                        <div class="content">
                            <script id="productDepartment-template" type="text/x-handlebars-template">

								<div class="product-department-table">
									<div class="department-title {{closed}}" data-id="{{departmentId}}">
										<div class="content">
											<i class="department-icon {{sanitize departmentName}}"></i>
											<div class="department-name">{{departmentName}}</div>
											<div class="department-product-quantity"><span class="bold">{{departmentQuantity}}</span> {{departmentQuantityText}}</div>
											<div class="toggle-content">
												<i class="arrow-down-stroke"></i>
											</div>
										</div>
									</div>

									<div class="department-table" style="{{styleClosed}}">
										<div class="table-loader loader">
											<div class="spinner1">
												<svg class="circular" viewBox="25 25 50 50">
													<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
												</svg>
											</div>
										</div>

										<div class="thead-wrapper">
											<div class="thead">
												<div class="th product-info">PRODUCTO</div>
												<div class="th price">PRECIO</div>
												<div class="th quantity">CANTIDAD</div>
												<div class="th subtotal">SUBTOTAL</div>
												<div class="th select"><div class="checkbox {{itemsChecked}}"><i class="hidden ok"></i></div></div>
											</div>
										</div>

										<div class="tbody-wrapper">
											<div class="tbody">
												{{#each products}}
													<div class="tr product {{selected}}" data-sku="{{sku}}" data-index="{{index}}">
														<div class="remove" title="Retirar">
															<i class="close-thick"></i>
														</div>

														<div class="td product-info">
															<a href="{{url}}" class="image">
																<img src="{{imageSrc}}" alt="{{name}}" />
															</a>
															<div class="right">
																<div class="brand">{{brand}}</div>
																<a href="{{url}}" class="product-name">{{name}}</a>
															</div>
														</div>

														<div class="td price">
															<div class="list-price {{displayListPrice}}">{{listPrice}}</div>
															<div class="selling-price">{{sellingPrice}}</div>
															<div class="price-per-unit"></div>
														</div>

														<div class="td quantity">

															<div class="quantity-selector">
																<input type="text" class="quantity-input" data-value="{{quantity}}" value="{{quantity}}" />
																<div class="quantity-buttons">
																	<div class="quantity-button-wrapper plus-wrapper"><i class="plus"></i></div>
																	<div class="quantity-button-wrapper minus-wrapper {{minusDisabled}}"><i class="minus"></i></div>
																</div>
															</div>

														</div>

														<div class="td subtotal">{{subtotal}}</div>

														<div class="td select">
															<div class="checkbox {{checked}}">
																<i class="ok"></i>
															</div>
														</div>
													</div>
												{{/each}}
											</div>
										</div>

									</div>
								</div>

							</script>

                        </div>

                    </div>

                </div>


                <div id="summary-wrapper">
                    <div class="coupon">

                        <div class="coupon-register">
                            <div class="text">Ingresa tu cupón de descuento</div>
                            <div class="text santander">Si eres cliente
                                <strong>Santander</strong> ingresa los primeros 6 dígitos de tu tarjeta y obtén un 6% de descuento.</div>
                            <div class="coupon-input-wrapper">
                                <input placeholder="Ingrese su código" type="text" id="coupon-input" />
                                <div id="send-coupon">
                                    INGRESAR
                                    <div class="loader spinner1">
                                        <svg class="circular" viewBox="25 25 50 50">
                                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="coupon-added-wrapper">
                            <div class="text">Descuento ingresado con éxito!</div>

                            <div class="coupon-wrapper">
                                <div class="code"></div>
                                <div class="remove">
                                    <span>Remover</span>
                                    <div class="loader spinner1">
                                        <svg class="circular" viewBox="25 25 50 50">
                                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="summary">
                        <div class="title">RESUMEN</div>

                        <div class="totalizers">

                            <div class="loader spinner1">
                                <svg class="circular" viewBox="25 25 50 50">
                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                                </svg>
                            </div>

                            <div class="content">
                                <script id="totalizers-template" type="text/x-handlebars-template">
									<div class="sub-total item">
										<div class="text">SUBTOTAL:</div>
										<div class="value">{{subtotal}}</div>
									</div>

									<div class="shipping item {{hideShippingPrice}}">
										<div class="text">ENVÍO:</div>
										<div class="value">{{shipping}}</div>
									</div>

									<div class="discount item {{hideDiscountPrice}}">
										<div class="text">DESCUENTO</div>
										<div class="value">{{discount}}</div>
									</div>

									<div class="total item">
										<div class="text">TOTAL:</div>
										<div class="value">{{total}}</div>
									</div>
								</script>
                            </div>

                        </div>
                    </div>

                    <div class="buttons">
                        <a href="/checkout#/orderform" class="checkout button green">
                            <i class="cart"></i>
                            <span>PAGAR</span>
                        </a>

                        <a href="/" class="keep-buying button dark-gray">SEGUIR COMPRANDO</a>
                    </div>

                    <div class="order-time-left">
                        <div class="title">Termina tu pedido antes de
                            <br />
                            <span class="time-left"></span>
                        </div>
                        <div class="order-message">para recibir
                            <span class="day"></span> entre las
                            <span class="range-time"></span>
                        </div>

                        <div class="progress-bar-wrapper">
                            <div class="progress-bar">
                                <i class="clock"></i>
                                <div class="bar">
                                    <div class="progress"></div>
                                </div>
                                <i class="truck"></i>
                            </div>
                        </div>
                    </div>

                    <div class="bottom-content">
                        <div class="item">
                            <i class="download"></i>
                            <span class="text">Descargar carro en excel</span>
                        </div>
                        <div class="item email">
                            <i class="email-stroke"></i>
                            <span class="text">Mandar carro por mail</span>
                        </div>
                    </div>

                </div>
            </div>

            <div id="empty-cart-content">
                <div class="content table-cell">
                    <div class="empty-message">
                        <i class="empty"></i>
                        <div class="empty-text">TU CARRO ESTA VACÍO</div>
                    </div>

                    <div class="text">Busca los productos por categorías o con los buscadores del header</div>

                    <a href="/" class="keep-buying button green">EMPIEZA A COMPRAR</a>

                    <div class="text">También puedes revisar tus pedidos anteriores para recuperar carros</div>

                    <a href="/mis-pedidos" class="keep-buying button blue">REVISAR PEDIDOS</a>
                </div>
            </div>
        </div>


        <div id="checkout-prefooter">
            <div class="security">
                <span class="title">SEGURIDAD</span>
                <div class="icon vtex-certificated"></div>
                <div class="icon digicert"></div>
            </div>
        </div>

        <div id="ol-start-missyou-list" class="overlay">
            <div class="table-cell">
                <div class="content">
                    <div class="close">
                        <i class="close-thick"></i>
                    </div>

                    <div class="commune-loader back-loader loader">
                        <div class="spinner orange">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                            </svg>
                        </div>
                    </div>
                    <vtex:contentPlaceHolder id="Form-que-te-falto" />
                </div>
            </div>
        </div>

        <footer id="checkout-footer">
            <div class="footer-copyright" style="display:none">
                <div class="row">
                    <p class="derechos-footer">©2016 ElSuper S.A. Todos los derechos reservados.</p>
                    <p class="powered">Powered by
                        <a href="http://www.ecomsur.com" title="Sitio Web Ecomsur" target="_blank">
                            <img src="/arquivos/Ecomsur-logo-footer.png" alt="Logo Ecomsur" />
                        </a>
                        and
                        <a href="http://www.vtex.com/" title="Sitio Web Vtex" target="_blank">
                            <img src="/arquivos/Vtex-logo-footer.png" style="width:65px" alt="Logo Vtex" />
                        </a>
                    </p>
                </div>
            </div>
            <div class="legal">©2018 ElSuper S.A. Todos los derechos reservados.</div>

            <div class="logos">
                <a href="http://www.vtex.com/es/index.html" class="icon vtex" target="_blank"></a>
            </div>
        </footer>
    </div>
    <script src="/arquivos/save-cart.js" type="text/javascript"></script>
</body>

</html>