// Codigo modificado por José Luiz Rodrigues 27/04/2018
@import "inc-config";
@import "inc-header";
body.home {
	@import "inc-home";
}
body.departamento {
	@import "inc-departamento";
}
body.category, body.search, body.brand, body.recover-my-cart, body.empty-search, body.buscavazia {
	@import "inc-category";
}
body.search {
	@import "inc-search";
}
body.product {
	@import "inc-product";
}
body.institucional {
	@import "inc-institucional";
}
body.maxcotas {
	@import "inc-maxcotas";
}
body.navidad {
	@import "inc-navidad";
}
body.ano-nuevo, body.verano, body.enamorados, body.colaciones {
	@import "inc-ano-nuevo";
}
body.corta-duracion, body.consumo-hoy {
	@import "inc-corta-duracion";
}
body.verano {
	.banner {
		height: 300px;
		background-image: url("/arquivos/Banner-Verano-1920x400.jpg") !important;
		background-position: center;
		background-size: auto 100%;
		text-align: center;
	}
}
body.colaciones {
	@import "inc-colaciones";
}

body.enamorados {
	.banner {
		height: 300px;
		background-image: url("Enamorados-1920x400.jpg") !important;
		background-position: center;
		background-size: auto 100%;
		text-align: center;
	}
}
body.enamorados {
	.banner {
		height: 300px;
		background-image: url("/arquivos/Enamorados-1920x400.jpg") !important;
		background-position: center;
		background-size: auto 100%;
		text-align: center;
		border-bottom: 1px solid #EFEFEF;
	}
}
body.regalos {
	@import "inc-regalos";
}
body.recover-my-cart {
	@import "inc-recover-my-cart";
}
body.buscavazia{
	@import "inc-busquedavacia";
}
body.e404{
	@import "inc-error404";
}
body.e505{
	@import "inc-error500";
}
body.libre-de-gluten {
	#sidebar .search-single-navigator h3 {
		display: block !important;
		font-weight: 600;
		font-size: 1.4em;
		line-height: 1.25;
		margin-bottom: 10px;
		a {
			color: @lime;
		}
	}
}
body.caja-fruta-y-verdura {
	img {
		display: block;
	}
	.form, .image {
		width: 680px;
		margin: 0 auto;
	}
	.form {
		margin-top: 20px;
		>h2 {
			margin: 30px 0;
			text-align: center;
			color: red;
		}
		fieldset {
			border: none;
			.box {
				width: 90%;
				margin: 0 auto 20px;
				.radios {
					.radio {
						margin-bottom: 5px;
					}
				}
			}
			label {
				font-weight: bold;
				color: @blue;
			}
			h2 {
				margin: 0 0 5px;
				font-size: 1.2em;
				color: @green;
				text-transform: uppercase;
			}
			[type=checkbox] {
				margin: 0 5px;
			}
			[type=text] {
				width: 100%;
				height: 42px;
				border: 1px solid @green;
				background: white;
				border-radius: 2px;
				padding: 0 10px;
				font: normal 13px/1.1 @font;
			}
			button {
				width: 280px;
				height: 52px;
				background-color: @blue;
				border: none;
				color: white;
				font-size: 1.1em;
				font-weight: bold;
				text-transform: uppercase;
				margin: 20px auto;
				display: block;
				cursor: pointer;
				transition: all .2s;
				border-radius: 4px;
				&:hover {
					transform: scale(1.02);
					box-shadow: 5px 5px 10px grey;
				}
			}
		}
	}
}
body.verano {
	img {
		display: block;
	}
	.form, .image {
		width: 680px;
		margin: 0 auto;
	}
	.form {
		margin-top: 20px;
		>h2 {
			margin: 30px 0;
			text-align: center;
			color: red;
		}
		fieldset {
			border: none;
			.box {
				width: 90%;
				margin: 0 auto 20px;
				.vacaciones {
					padding-top: 10px;
					color: @red;
					font-weight: bold;
					display: inline-block;
				}
				.label {
					label {
						font-size: 1.1em;
						padding-top: 10px;
						padding-bottom: 10px;
						display: inline-block;
					}
				}
				.radios {
					.radio {
						margin-bottom: 5px;
					}
				}
			}
			label {
				font-weight: bold;
				color: @blue;
			}
			h2 {
				margin: 0 0 5px;
				font-size: 1.2em;
				color: @green;
				text-transform: uppercase;
			}
			[type=checkbox] {
				margin: 0 5px;
			}
			[type=text] {
				width: 100%;
				height: 42px;
				border: 1px solid @green;
				background: white;
				border-radius: 2px;
				padding: 0 10px;
				font: normal 13px/1.1 @font;
			}
			button {
				width: 280px;
				height: 52px;
				background-color: @blue;
				border: none;
				color: white;
				font-size: 1.1em;
				font-weight: bold;
				text-transform: uppercase;
				margin: 20px auto;
				display: block;
				cursor: pointer;
				transition: all .2s;
				border-radius: 4px;
				&:hover {
					transform: scale(1.02);
					box-shadow: 5px 5px 10px grey;
				}
			}
		}
	}
}
body.enamorados {
	img {
		display: block;
	}
	.form, .image {
		width: 680px;
		margin: 0 auto;
	}
	.form {
		margin-top: 20px;
		>h2 {
			margin: 30px 0;
			text-align: center;
			color: red;
		}
		fieldset {
			border: none;
			.box {
				width: 90%;
				margin: 0 auto 20px;
				.vacaciones {
					padding-top: 10px;
					color: @red;
					font-weight: bold;
					display: inline-block;
				}
				.label {
					label {
						font-size: 1.1em;
						padding-top: 10px;
						padding-bottom: 10px;
						display: inline-block;
					}
				}
				.radios {
					.radio {
						margin-bottom: 5px;
					}
				}
			}
			label {
				font-weight: bold;
				color: @blue;
			}
			h2 {
				margin: 0 0 5px;
				font-size: 1.2em;
				color: @green;
				text-transform: uppercase;
			}
			[type=checkbox] {
				margin: 0 5px;
			}
			[type=text] {
				width: 100%;
				height: 42px;
				border: 1px solid @green;
				background: white;
				border-radius: 2px;
				padding: 0 10px;
				font: normal 13px/1.1 @font;
			}
			button {
				width: 280px;
				height: 52px;
				background-color: @blue;
				border: none;
				color: white;
				font-size: 1.1em;
				font-weight: bold;
				text-transform: uppercase;
				margin: 20px auto;
				display: block;
				cursor: pointer;
				transition: all .2s;
				border-radius: 4px;
				&:hover {
					transform: scale(1.02);
					box-shadow: 5px 5px 10px grey;
				}
			}
		}
	}

	.thisCategory{
		a{
			margin:0 auto
		}
	}
}
body.buscavazia {
	main {
		#resultado {
			text-align: center;
			color: @red;
			font-size: 1.4em;
			padding: 100px 0;
			line-height: 1.6;
		}
		#volver {
			background: @green;
			width: 180px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			color: white;
			text-transform: uppercase;
			margin: auto;
			display: block;
			a {
				color: white;
			}
			margin-bottom: 30px;
		}
	}
}


body.cart {
	.button.missyou-list { background-color: #001F62 !important; }
	.save-cart { background-color: #f15a29 !important; }
	.blackboard {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0,0.7);
		position: fixed;
		z-index: 10;
		.centro;
		.meio;
		.whiteboard {
			width: 100%;
			max-width: 320px;
			height: 200px;
			padding: 10px;
			border-radius: 4px;
			box-shadow: 1px 1px 1px 1px gray;
			background-color: white;
			.header {
				.entre;
				.meio;
				.close {
					cursor: pointer;
				}
			}
			.pregunta {
				margin-top: 20px;
				p {
					text-align: center;
					line-height: 1.1;
				}
			}
			.boxing-head {
				margin-top: 20px;
				.entre;
				.meio;
				#nombre-lista {
					width: calc(~"100% - 100px");
					height: 32px;
					border: 1px solid whitesmoke;
					border-radius: 4px;
					padding: 0 10px;
					font-size: 1em;
				}
				#guardar {
					width: 90px;
					height: 32px;
					background-color: #001F62;
					color: white;
					text-align: center;
					font-size: 1em;
					font-weight: bold;
					text-transform: uppercase;
					cursor: pointer;
					border-radius: 4px;
					&[disabled="disabled"]{
						background-color: whitesmoke;
						color: gray;
						cursor: no-drop;
					}
				}
			}
			.error-modale {
				color: #f15a29;
				font-size: .9em;
				margin-top: 10px;
				display: inline-block;
			}
		}
	}
}
@import "inc-footer";