@import "inc-config";
#menu {
    display: block;
}

.productos-destacados {
    .centro;
    .meio;

    li {
        width: 100%;
        height: 100%;
        max-height: 170px;
        max-width: 170px;
        margin: 0 10px;

        a {
            border-radius: 100%;
            position: relative;
            width: 100%;
            height: 100%;
            max-height: 170px;
            max-width: 170px;
            display: block;
            &:hover {
                .icon {
                    &:after {
                        width: calc(~"20px + 100%");
                        height: calc(~"20px + 100%");
                    }
                }
                .text {
                    color: @green;
                }
            }
            .icon {
                &:after {
                    content: '';
                    position: absolute;
                    transition: all .3s cubic-bezier(.4, 1.16, 1, 1);
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translateX(-50%) translateY(-50%);
                    -ms-transform: translateX(-50%) translateY(-50%);
                    transform: translateX(-50%) translateY(-50%);
                    border-radius: 100%;
                    width: 0;
                    height: 0;
                    background-image: linear-gradient(90deg, @lime, @green);
                    z-index: 0;
                }
                &:before {
                    content: '';
                    position: absolute;
                    transition: all .3s cubic-bezier(.4, 1.16, 1, 1);
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translateX(-50%) translateY(-50%);
                    -ms-transform: translateX(-50%) translateY(-50%);
                    transform: translateX(-50%) translateY(-50%);
                    border-radius: 100%;
                    width: 100%;
                    height: 100%;
                    background-color: #FFF;
                    z-index: 1;
                }
                img {
                    width: 100%;
                    height: auto;
                    z-index: 2;
                    padding: 30px;
                    position: relative;
                }
            }
            .text {
                font-size: 1.3em;
                height: 40px;
                line-height: 20px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-align: center;
                color: @dark;
                font-weight: bold;
                margin-top: 20px;
            }
        }
    }
}

#comunas {
    width: 100%;
    height: 290px;
    overflow: hidden;
    position: absolute;
    top: 73px;
    right: 0;
    z-index: 1;
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
    border: 1px solid #EFEFEF;
    display: block;
    @media (max-width: 960px) {
        display: none;
    }
    h2 {
        border-bottom: 1px solid @gris;
        line-height: 42px;
        text-align: center;
        text-transform: uppercase;
        color: @red;
        font-size: 1.2em;
    }
    .steps {
        [class*="step-"] {
            .content {
                height: 50px;
                .entre;
                .meio;

                .icon {
                    width: 30px;
                    height: 30px;
                    background-color: @lime;
                    text-align: center;
                    margin-right: 10px;
                    border-radius: 100%;
                    i {
                        color: #FFF;
                        line-height: 30px;
                        font-size: 1.2em;
                    }
                }

                .text {
                    width: calc(~"100% - 50px");
                    height: auto;
                    color: @blue;
                    font-weight: bold;
                    font-size: 1em;
                }
            }
        }
        .step {
            padding: 0 10px;
            &:not(:last-child) {
                border-bottom: 1px solid @gris;
            }
            .noselect {
                .commune-select {
                    width: 100%;
                    height: auto;
                    margin-bottom: 15px;
                    position: relative;
                    .label {
                        width: 100%;
                        height: 32px;
                        border: 1px solid @gray;
                        cursor: pointer; // font-weight: bold;
                        color: @dark;
                        .value {
                            width: 100%;
                            height: auto;
                            line-height: 32px;
                            padding: 0 10px;
                            i {
                                float: right;
                                line-height: 32px;
                                margin-right: 10px;
                            }
                        }
                    }
                    .options {
                        width: 100%;
                        height: 140px;
                        overflow-x: hidden !important;
                        overflow-y: scroll !important;
                        position: absolute;
                        top: 32px;
                        z-index: 3;
                        background-color: #FFF;
                        border: 1px solid @gray;
                        border-top: none;
                        display: none;
                        div {
                            width: 100%;
                            height: 32px;
                            line-height: 32px;
                            padding: 0 10px;
                            cursor: pointer;
                            &:hover {
                                background-color: @gris;
                                color: @red;
                            }
                        }
                    }
                }
            }
            .select {
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: #FFF;
                display: none;
                top: 0;
                left: 0;
                .icon {
                    .centro;
                    height: 45px;
                    margin-top: 40px;
                    margin-bottom: 40px;

                    i {
                        width: 45px;
                        height: 45px;
                        display: block;
                        background-color: @blue;
                        border-radius: 100%;
                        text-align: center;
                        line-height: 45px;
                        color: #FFF;
                        font-size: 2.1em;
                    }
                }
                .text {
                    overflow: hidden;
                    text-align: center;
                    font-size: 1.3em;
                    text-transform: uppercase;
                    width: 90%;
                    height: auto;
                    margin: 20px auto 0;
                }
                .change-commune {
                    width: 90%;
                    height: 42px;
                    margin: auto;
                    text-align: center;
                    line-height: 42px;
                    border: 1px solid @red;
                    color: @red;
                    background-color: transparent;
                    display: block;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.1em;
                    margin-top: 60px;
                    cursor: pointer;
                }
            }
        }
    }
}

[role="main"] {
    @height: 350px;
    #banner {
        width: 100%;
        height: @height;
        overflow: hidden;
        position: relative;
        border-bottom: 1px solid #EFEFEF;
        @media (max-width: 720px) {
            height: 50vw;
        }
        .box-banner {
            width: 100%;
            height: @height;
            @media (max-width: 720px) {
                height: 50vw;
                width: 300px;
            }
            a {
                width: 100%;
                height: @height;
                display: block;
                overflow: hidden;
                .centro;
                @media (max-width: 720px) {
                    height: 50vw;
                }
                img {
                    width: auto;
                    height: 100%;
                }
            }
        }
        .slick-dots {
            position: relative;
            bottom: 30px;
            .centro() !important;
            .meio() !important;
            li {
                padding: 0 5px;
                &.slick-active {
                    button {
                        background-color: @gray;
                        width: 15px;
                        height: 15px;
                    }
                }
                button {
                    font-size: 0;
                    width: 12px;
                    height: 12px;
                    background-color: @gris;
                    border: none;
                    border-radius: 100%;
                    cursor: pointer;
                }
            }
        }
    }
    .banners {
        margin-bottom: 30px;
        .warp {
            .entre();
            .meio();
            .box-banner {
                max-width: 460px;
                @media (min-width: 1200px) and (max-width:1440px) {
                    &:first-of-type {
                        display: none;
                    }
                }
                @media (min-width:960px) and (max-width:1200px) {
                    &:first-of-type,
                    &:last-of-type {
                        display: none;
                    }
                }
                @media (min-width:720px) and (max-width:960px) {
                    &:first-of-type,
                    &:nth-of-type(2) {
                        display: none;
                    }
                }
                @media (max-width:720px) {
                    width: 100%;
                    &:first-of-type,
                    &:nth-of-type(2),
                    &:last-of-type {
                        display: none;
                    }
                }
                a {
                    img {
                        width: 100%;
                        height: auto;
                        border: 1px solid @gris;
                        border-radius: 2px;
                        transition: all .5contents;
                        &:hover {
                            border-color: @green;
                        }
                    }
                }
            }
        }
    }

    .content {
        margin: 15px 0;
        width: 100%;

        &:nth-of-type(2) {
            // height: 210px;
            overflow: hidden;

            .box-banner {
                width: 85%;
                margin-left: 225px;
                @media (min-width: 730px) and (max-width: 1200px) {
                    margin: 0;
                    width: 100%;
                }
                @media (max-width:720px) {
                    width: 100%;
                    margin: 0px;
                }
                &:nth-of-type(2) {
                    display: none;
                }
            }
        }

        .box-banner {
            .centro;

            a {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .newsletter {
        width: 100%;
        height: auto;
        border: none;
        padding: 20px 0;
        .centro;
        .meio;
        @media (max-width: 720px) {
            display: block;
        }
        h3 {
            width: auto;
            margin-right: 20px;
            text-align: right;
            text-transform: uppercase;
            @media (max-width: 720px) {
                text-align: center;
                margin-bottom: 15px;
            }
        }
        .input {
            width: 40%;
            height: 40px;
            .entre;
            .meio;
            @media (min-width: 1200px) and (max-width:1440px) {
                width: 50%;
            }
            @media (max-width:1200px) {
                width: 100%;
            }
            #email {
                width: calc(~"100% - 120px");
                height: 40px;
                border: 1px solid @gris;
                margin-right: 20px;
                border-radius: 2px;
                padding: 0 20px;
                font: normal 1.1em/1.1 @font;
            }
            #send {
                width: 100px;
                height: 40px;
                border: none;
                background-color: @green;
                color: #FFF;
                font: bold 1.1em/1.1 @font;
                text-transform: uppercase;
                border-radius: 2px;
                cursor: pointer;
            }
        }
    }
    .ofertas {
        margin-bottom: 30px;
        .shelf {
            h2 {
                font-size: 1.8em;
                color: @blue;
                margin-bottom: 30px;

                .link-titulo {
                    margin-left: 10px;
                    font-size: .7em;
                    color: @green;
                    &:hover {
                        color: @red;
                    }
                }
            }
            >ul {
                &:not([class^=slick-]) {
                    width: 100%;
                    height: auto;
                    max-height: 600px;
                    overflow: hidden;
                    flex-wrap: wrap;
                    >li {
                        float: left;
                        margin-bottom: 20px;
                        &:not(:nth-child(6)) {
                            margin-right: 20px;
                        }
                        @media (min-width:1200px) and (max-width:1440px) {
                            &:not(:nth-child(6)) {
                                margin-right: 0px;
                            }
                            &:not(:nth-child(5)) {
                                margin-right: 20px;
                            }
                        }
                        @media (min-width:960px) and (max-width:1200px) {
                            &:not(:nth-child(6)),
                            &:not(:nth-child(5)) {
                                margin-right: 0px;
                            }
                            &:not(:nth-child(4)) {
                                margin-right: 20px;
                            }
                        }
                        @media (min-width:720px) and (max-width:960px) {
                            &:not(:nth-child(6)),
                            &:not(:nth-child(5)),
                            &:not(:nth-child(4)) {
                                margin-right: 0px;
                            }
                            &:not(:nth-child(3)) {
                                margin-right: 20px;
                            }
                        }
                        @media (max-width:720px) {
                            &:not(:nth-child(6)),
                            &:not(:nth-child(5)),
                            &:not(:nth-child(4)),
                            &:not(:nth-child(3)) {
                                margin-right: 0px;
                            }
                            &:not(:nth-child(2)) {
                                margin-right: 20px;
                            }
                        }
                    }
                }
            }
            .slick-dots {
                .meio() !important;
                .centro() !important;
                margin-top: 30px;
                li {
                    height: 5px;
                    padding: 0 5px;
                    &.slick-active {
                        button {
                            background-color: @blue;
                        }
                    }
                    button {
                        width: 20px;
                        height: 5px;
                        font-size: 0;
                        background-color: @gray;
                        border: none;
                        cursor: pointer;
                        vertical-align: top;
                    }
                }
            }
        }
    }
}

.modal-compra {
    &.darkbackground {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        .centro;
        .meio;

        .whitebackground {
            width: 100%;
            height: 100%;
            max-width: 600px;
            max-height: 400px;
            border-radius: 2px;
            position: relative;

            .close {
                position: absolute;
                top: 0;
                right: 0;

                i {
                    font-size: 2em;
                    color: #FFF;
                    cursor: pointer;
                }
             }
            .image {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}