@import "inc-config";
#title-meta { display: none; }
#topBanner {
    width: 100%;
    height: 400px;
    overflow: hidden;
    .centro;
    .meio;
}
#has-category {
    margin: 50px 0;
    .box-banner {
        a {
            width: 100%;
            max-width: 355px;
            height: auto;
            display: block;
            border: 1px solid gray;
            padding: 20px;
            h3 {
                width: 100%;
                font-size: 1.5em;
                text-transform: uppercase;
                color: @blue;
                text-align: center;
                margin-top: 20px;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
[role=main]{
    .ofertas {
        clear: both;
        margin-bottom: 70px;
    }
}
.shelf {
    .slick-dots {
                .meio() !important;
                .centro() !important;
                margin-top: 30px;
                li {
                    height: 5px;
                    padding: 0 5px;
                    &.slick-active {
                        button {
                            background-color: @blue;
                        }
                    }
                    button {
                        width: 20px;
                        height: 5px;
                        font-size: 0;
                        background-color: @gray;
                        border: none;
                        cursor: pointer;
                        vertical-align: top;
                    }
                }
            }
    h2 {
        font-size: 1.8em;
        color: @blue;
        margin-bottom: 30px;
        padding-top: 30px;

        .link-titulo {
            margin-left: 10px;
            font-size: .7em;
            color: @green;
            &:hover {
                color: @red;
            }
        }
    }
}
#topo {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: @red;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    i {
        color: white;
        font-size: 1.8em;
        line-height: 50px;
    }
}