
@import "inc-config";

fieldset {
    .warp;
    border: none;
    height: 40px;
    margin-bottom: 30px;

    #valor {
        width: calc(~"100% - 200px");
        height: 40px;
        border: 1px solid @gris;
        margin-right: 20px;
        border-radius: 2px;
        padding: 0 20px;
        font: normal 1.1em/1.1 @font;
    }
    #recupero {
        width: 150px;
        height: 40px;
        border: none;
        background-color: @green;
        color: #FFF;
        font: bold 1.1em/1.1 @font;
        text-transform: uppercase;
        border-radius: 2px;
        cursor: pointer;
    }
}

.content {
    .warp;
    height: 300px;

    a {
        width: 150px;
        height: 40px;
        line-height: 40px;
        display: block !important;  
        border: none;
        text-align: center;
        text-transform: uppercase;
        color: #FFF;
        font: bold 1.1em/1.1 @font;
        cursor: pointer;
        border-radius: 2px;
        background-color: @green;
    }
}