@import "inc-config";

.main {
	.entre;
	margin-bottom: 30px;
	.bread-crumb {
		margin-top: 30px;
	}
	#main {
		width: 100%;
		@media(min-width:962px){
			width: calc(~"100% - 240px");
		}
		.bread-crumb {
			margin-bottom: 15px;
			ul {
				.esquerda;
				li {
					&:first-child {
						display: none;
					}
					&:not(:nth-child(2)) {
						&:before {
							content: "\f101";
							font-family: @icon;
							padding: 0 10px;
						}
					}
					color: @blue;
					a {
						color: @blue;
						font-weight: bold;
					}
				}
			}
		}
		.top {
			.entre;
			padding: 20px;
			margin-bottom: 30px;
			flex-wrap: wrap;
			.images {
				width: 100%;
				@media(min-width:962px){
					width: calc(~"60% - 20px");
					margin-right: 20px;
				}
				border-radius: 4px;
				.esquerda;
				position: relative;
					.flags {
						[class*="cd-50-"],
						[class*="cd-70-"] {
                            width: 60px;
                            height: 60px;
                            background-image: url("/arquivos/una-semanas.png");
                            background-size: 100%;
                            font-size: 0;
                            top: 10px;
                            right: 10px;
                        }
                        [class*="cyber"] {
                            display: block;
                            font-size: 0px;
                            background-image: url("/arquivos/elSuperCyber.png");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 100%;
                            width: 80px;
                            height: 80px;
                            position: absolute;
                            left: 430px;
                            top: 70px;
                            z-index: 1;
                            visibility: visible !important;
                        }
                        [class*="cd-40-"] {
                            width: 60px;
                            height: 60px;
                            background-image: url("/arquivos/dos-semanas.png");
                            background-size: 100%;
                            font-size: 0;
                            top: 10px;
                            right: 10px;
                        }
                        [class*="cd-30-"] {
                            width: 60px;
                            height: 60px;
                            background-image: url("/arquivos/tres-semanas.png");
                            background-size: 100%;
                            font-size: 0;
                            top: 10px;
                            right: 10px;
                        }
                        .flag {
                            position: absolute;
                            z-index: 1;
                            font-size: 0;
							visibility: hidden;
                            &.producto-de-exportacion {
                                width: 60px;
                                height: 60px;
                                font-size: 0;
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                background-image: url("/arquivos/producto-de-exportacion.png");
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 100% auto;
                                z-index: 1;
                            }
                            &.compra-mas-y-paga-menos {
                                width: 60px;
                                height: 60px;
                                font-size: 0;
                                position: absolute;
                                top: 80px;
                                right: 10px;
                                background-image: url("/arquivos/compra-mas-y-paga-menos.png");
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 100% auto;
                                z-index: 1;
                            }
                            &.super-precio {
                                width: 60px;
                                height: 60px;
                                background-image: url("/arquivos/super-precio.png");
                                background-size: 100%;
                                font-size: 0;
                                top: 10px;
                                right: 10px;
                            }
                            &.productos-nuevos {
                                width: 60px;
                                height: 60px;
                                background-image: url("/arquivos/nuevo-producto.png");
                                background-size: 100%;
                                font-size: 0;
                                top: 10px;
                                right: 10px;
                            }
                            &.regalo {
                                width: 60px;
                                height: 60px;
                                background-image: url("/arquivos/28_6-Flag-Producto-Regalo.png");
                                background-size: 100%;
                                font-size: 0;
                                top: 10px;
                                right: 10px;
                            }
                        }
                        .add {
                            position: absolute;
                            top: 190px;
                            left: -5px;
                            width: auto;
                            height: 28px;
                            line-height: 28px;
                            text-align: center;
                            font-size: 1em;
                            color: #FFF;
                            font-family: @icon, @font;
                            background-color: @green;
                            z-index: 1;
                            padding: 0 10px;
                            &:after {
                                content: "";
                                bottom: -5px;
                                left: 0px;
                                border-color: transparent darken(@green, 20%);
                                border-width: 0px 5px 5px 0px;
                                position: absolute;
                                border-style: solid;
                                display: block;
                                width: 0;
                                z-index: 0;
                            }
                        }
                        [class*="2x1"] {
							.ventapor("2X1");
							top: 110px;
							left: 115px;
							z-index: 1;
							visibility: visible;
                        }
                        [class*="3x2"] {
							.ventapor("3X2");
							top: 110px;
							left: 115px;
							z-index: 2;
							visibility: visible;
                        }
                        [class*="4x3-productos"] {
							.ventapor("4X3");
							top: 110px;
							left: 115px;
							z-index: 3;
							visibility: visible;
                        }
                        [class*="5x4-productos"] {
							.ventapor("5X4");
							top: 110px;
							left: 115px;
							z-index: 4;
							visibility: visible;
                        }
                        [class*="6x5-productos"] {
							.ventapor("6X5");
							top: 110px;
							left: 115px;
							z-index: 5;
							visibility: visible;
                        }
						[class*="70-dcto-productos"],
						[class*="70--dcto-productos"] {
							.porcentaje(" 70%");
							top: 20px;
							left: 95px;
                            z-index: 6;
                        }
						[class*="50-dcto-productos"],
						[class*="50--dcto-productos"] {
							.porcentaje(" 50%");
							top: 20px;
							left: 95px;
                            z-index: 5;
                        }
						[class*="40-dcto-productos"],
						[class*="40--dcto-productos"] {
							.porcentaje(" 40%");
							top: 20px;
							left: 95px;
                            z-index: 4;
                        }
						[class*="30-dcto-productos"],
						[class*="30--dcto-productos"] {
							.porcentaje(" 30%");
							top: 20px;
							left: 95px;
                            z-index: 3;
                        }
						[class*="25-dcto-productos"],
						[class*="25--dcto-productos"] {
							.porcentaje(" 25%");
							top: 20px;
							left: 95px;
                            z-index: 2.5;
                        }
						[class*="20-dcto-productos"],
						[class*="20--dcto-productos"] {
							.porcentaje(" 20%");
							top: 20px;
							left: 95px;
                            z-index: 2;
                        }
						[class*="15-dcto-productos"],
						[class*="15--dcto-productos"] {
							.porcentaje(" 15%");
							top: 20px;
							left: 95px;
                            z-index: 1.5;
                        }
						[class*="10-dcto-productos"],
						[class*="10--dcto-productos"] {
							.porcentaje(" 10%");
							top: 20px;
							left: 95px;
                            z-index: 1;
                        }
                    }


				.thumbs {
					width: 80px;
					margin-right: 20px;

					li {
						cursor: pointer;

						img {
							width: 100%;
							height: auto;
						}

						&.active {
							img {
								border: 1px solid @gray;
							}
						}
						&:not(:last-child) {
							margin-bottom: 10px;
						}
					}
				}
				.image {
					width: calc(~"100% - 110px");

					a {
						width: 100%;
						height: auto;
						display: block;
						.centro;
						.meio;

						img {
							width: 100%;
							height: auto;
						}
					}
				}
			}
			@media(max-width:960px){
				#sku-info *{
					margin:0 auto;
				}
			}
			#sku-info {				
				width: 100%;
				@media(max-width:960px){
					margin-top:40px;
					text-align:center
				}
				@media(min-width:962px){
					width: 40%
				}
				.brand {
					width: 100%;
					height: auto;
					margin-bottom: 10px;

					a {
						color: @dark;
						font-weight: 500;
						font-size: 1.2em;
					}
				}
				.name {
					width: 100%;
					height: 40px;
					line-height: 20px;
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					font-weight: 500;
					color: @blue;
					font-size: 1.7em;
				}
				.price-per {
					margin-top: 10px;
					margin-bottom: 10px;
					min-height: 14px;

					small {
						font-size: 1.1em;
						color: @gray;
					}
				}
				.skuSelect {
					h6 {
						font-size: 1.1em;
						font-weight: normal;
						margin-top: 10px;
						margin-bottom: 10px;
					}
					.variations {
						.esquerda;
						.meio;
						margin-bottom: 10px;
						width: 100%;
						height: auto;
						overflow: hidden;

						span {
							border: 1px solid @gray;
							color: @gray;
							padding: 5px;
							cursor: pointer;

							&:not(:last-of-type) {
								margin-right: 5px;
							}
							&.active {
								border: 1px solid @lime;
								color: @lime;
							}
						}
					}
				}
				.price {
					.esquerda;
					.meio;
					color: @dark;
					margin-top: 10px;
					margin-bottom: 10px;
					font-size: 1.2em;

					&:hover, &:focus, &:active {
						text-decoration: none;
					}
					span {
						display: inline-block;
						font-size: 1.6em;

						&:not(:last-of-type) {
							padding-right: 10px;
						}
						&.list-price {
							color: @gray;
						}
						&.best-price {
							color: @blue;
						}
					}
				}
				.buy {
					width: auto;
					height: auto;
					overflow: hidden;
					.esquerda;

					button {
						i {
							color: #FFF;
							font-size: 1.5em;
						}
					}
					.qty {
						width: 60px;
						height: 40px;
						border: 1px solid @gray;
						margin-right: 10px;
						.esquerda;
						background-color: #FFF;

						#amout {
							width: calc(~"100% - 20px");
							height: 38px;
							text-align: center;
							font: bold 1.4em/1em @font;
							border: none;
						}
						.counter {
							width: 20px;
							height: auto;
							position: relative;
							border-left: 1px solid @gray;

							span {
								width: 20px;
								height: auto;
								display: block;
								position: absolute;
								cursor: pointer;
								text-align: center;

								i {
									font-size: 1.1em;
								}
								&.up {
									top: 2px;
									border-bottom: 1px solid @gray;
								}
								&.down {
									bottom: 2px;
								}
							}
						}
					}
					.buysku {
						width: calc(~"100% - 80px");
						max-width: 250px;
						height: 40px;
						border: none;
						background-color: @lime;
						color: #FFF;
						font: 500 1.1em/1em @font;
						text-transform: uppercase;
						cursor: pointer;
					}
				}
				.product-description {
					display: block !important;

					.productDescription {
						height: auto;
						line-height: 20px;
						overflow: hidden;
						display: -webkit-box;
						-webkit-line-clamp: 5;
						-webkit-box-orient: vertical;
					}
				}
			}
		}
	}
    #cart-sticky-wrapper {
		@media(max-width:960px){
			display: none
		}
        width: 220px;
        height: auto;
        overflow: hidden;
		margin-bottom: 130px;
		margin-top: 116px;

        #cart {
            width: 100%;
            height: 470px;
            overflow: hidden;
            background-color: #FFF;
            border: 1px solid @gris;
        }
        .minicartmodelo;
    }
}
#cross-selling {
	width: 100%;
	height: auto;

	.shelf {
		h2 {
			font-size: 1.8em;
			color: @blue;
			margin-bottom: 20px;
		}
		.slick-dots {
			.meio() !important;
			.centro() !important;
			margin-top: 30px;

			li {
				height: 5px;
				padding: 0 5px;

				&.slick-active {
					button {
						background-color: @blue;
					}
				}
				button {
					width: 20px;
					height: 5px;
					font-size: 0;
					background-color: @gray;
					border: none;
					cursor: pointer;
					vertical-align: top;
				}
			}
		}
	}
}