@import "inc-config";
.banner {
    .warp;
    position: relative;
    margin-bottom: 200px;
    .hgroup, #has-category {
        position: absolute;
    }
    .hgroup {
        top: 100px;
        left: 100px;
        h1, h2, p, small { color: white; }
        .hache {
            .esquerda;
            .meio;
            margin-bottom: 10px;
            h1 {
                width: 200px;
                font-size: 3em;
                border-right: 2px solid white;
                padding-right: 10px;
                margin-right: 10px;
            }
            h2 {
                font-size: 2em;
            }
        }
        .paragra {
            width: 90%;
            margin-bottom: 20px;
            p {
                font-size: 1.5em;
                line-height: 1.3;
                margin-bottom: 5px;
            }
        }
        .small {
            small {
                display: block;
                font-size: 1.2em;
            }
        }
    }
    #has-category {
        bottom: -150px;
        #category-list {
            .centro;
            .meio;
            .thisCategory {
                width: 25%;
                a {
                    .image {
                        padding: 50px;
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    &#topBanner {
        > img {
            width: 100%;
            height: auto;
        }
    }
}
[role=main]{
    .ofertas {
    clear: both;
    margin-bottom: 70px;
}
}
.shelf {
    .slick-dots {
                .meio() !important;
                .centro() !important;
                margin-top: 30px;
                li {
                    height: 5px;
                    padding: 0 5px;
                    &.slick-active {
                        button {
                            background-color: @blue;
                        }
                    }
                    button {
                        width: 20px;
                        height: 5px;
                        font-size: 0;
                        background-color: @gray;
                        border: none;
                        cursor: pointer;
                        vertical-align: top;
                    }
                }
            }
    h2 {
        font-size: 1.8em;
        color: @blue;
        margin-bottom: 30px;
        padding-top: 30px;

        .link-titulo {
            margin-left: 10px;
            font-size: .7em;
            color: @green;
            &:hover {
                color: @red;
            }
        }
    }
}

#topo {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: @red;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    i {
        color: white;
        font-size: 1.8em;
        line-height: 50px;
    }
}