@import "inc-config";

#resultado {
	width: 90%;
	font-size: 30px;
	color: @blue;
	text-align: center;
	//margin-left: 60px;
	margin: 90px 70px;
	//line-height: 4;
	// 300px;
	&:after {
		content: "\f071";
		font-family: @icon;
		padding: 0 10px;
	}
}

#volver{
	text-align: center;
	margin-bottom: 120px;
	a{
		color: white;
		background-color: @lime;
		padding: 20px 20px;
	}
}

