@import "inc-config";

main{
    >.warp{
        overflow: hidden
    }
}

#has-category {
    margin: 20px 0 20px;
    #category-list {        
        .slick-dots {
            visibility: hidden;
            height: 0;
        }
    }
    >h2 {
        font-size: 1.8em;
        color: @blue;
    }
    .thisCategory {        
        padding-top: 20px;
        a {
            border-radius: 100%;
            position: relative;
            max-width: 170px;
            display: block;
            &:hover {
                .image {
                    &:after {
                        width: calc(~"20px + 100%");
                        height: calc(~"20px + 100%");
                    }
                }
                .text {
                    color: @green;
                }
            }
            .image {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    transition: all .3s cubic-bezier(.4, 1.16, 1, 1);
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translateX(-50%) translateY(-50%);
                    -ms-transform: translateX(-50%) translateY(-50%);
                    transform: translateX(-50%) translateY(-50%);
                    border-radius: 100%;
                    width: 0;
                    height: 0;
                    background-image: linear-gradient(90deg, @lime, @green);
                    z-index: 0;
                }
                &:before {
                    content: '';
                    position: absolute;
                    transition: all .3s cubic-bezier(.4, 1.16, 1, 1);
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translateX(-50%) translateY(-50%);
                    -ms-transform: translateX(-50%) translateY(-50%);
                    transform: translateX(-50%) translateY(-50%);
                    border-radius: 100%;
                    width: 100%;
                    height: 100%;
                    background-color: #FFF;
                    z-index: 1;
                }
                img {
                    margin: 0 auto;
                    padding:10px;
                    max-width: 100%;
                    height: auto;
                    z-index: 2;                    
                    position: relative;
                    border-radius: 50%
                }
            }
            .text {
                font-size: 1.3em;
                height: 40px;
                line-height: 20px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-align: center;
                color: @dark;
                font-weight: bold;
                margin-top: 20px;
            }
        }
    }
}

.bread-crumb {
    ul {
        width: 100%;
        height: auto;
        overflow: hidden;
        flex-wrap: wrap;
        margin-bottom: 15px;
        li {
            float: left;
            color: @gray;
            &:first-child {
                display: none;
            }
            &:not(:last-child) {
                &:after {
                    content: "\f105";
                    font-family: @icon;
                    padding: 0 10px;
                }
            }
            strong {
                font-weight: normal;
            }
            a {
                font-size: 1.077em;
                line-height: 1.3;
                color: @gray;
                &:hover {
                    color: @dark;
                }
            }
            &.last {
                display: none;
            }
        }
    }
}

.shelf {
    margin-bottom: 30px;
    overflow: hidden;
    h2 {
        font-size: 1.8em;
        color: @blue;
        margin-bottom: 30px;
    }
    >ul {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        overflow: hidden;
        >li {
            float: left;
            margin-bottom: 20px;
            /*&:not(:nth-child(6)) {
                margin-right: 20px;
            }
            @media (min-width:1200px) and (max-width:1440px) {
                &:not(:nth-child(6)) {
                    margin-right: 0px;
                }
                &:not(:nth-child(5)) {
                    margin-right: 20px;
                }
            }
            @media (min-width:960px) and (max-width:1200px) {
                &:not(:nth-child(6)),
                &:not(:nth-child(5)) {
                    margin-right: 0px;
                }
                &:not(:nth-child(4)) {
                    margin-right: 20px;
                }
            }
            @media (min-width:720px) and (max-width:960px) {
                &:not(:nth-child(6)),
                &:not(:nth-child(5)),
                &:not(:nth-child(4)) {
                    margin-right: 0px;
                }
                &:not(:nth-child(3)) {
                    margin-right: 20px;
                }
            }
            @media (max-width:720px) {
                &:not(:nth-child(6)),
                &:not(:nth-child(5)),
                &:not(:nth-child(4)),
                &:not(:nth-child(3)) {
                    margin-right: 0px;
                }
                &:not(:nth-child(2)) {
                    margin-right: 20px;
                }
            }*/
        }
    }
    .slick-dots {
        .meio() !important;
        .centro() !important;
        margin-top: 30px;
        li {
            height: 5px;
            padding: 0 5px;
            &.slick-active {
                button {
                    background-color: @blue;
                }
            }
            button {
                width: 20px;
                height: 5px;
                font-size: 0;
                background-color: @gray;
                border: none;
                cursor: pointer;
                vertical-align: top;
            }
        }
    }
}

#container {    
    .entre;
    margin-top: 20px;
    flex-wrap: wrap;
    #sidebar,
    #main{
        width: 100%
    }
    #sidebar {
        @media(min-width:962px){
            width: 20%;
            max-width: 220px;
        }          
        .menu-departamento{
            @media(max-width:960px){
                margin-bottom: 15px;
                .rb{            
                    text-align: center;
                    border-radius: 3px;
                    background-color: #f2f2f2;            
                    display: block;
                    cursor: pointer;
                    &.active{
                        border-radius:3px 3px 0 0
                    }
                    &::before{
                        padding:10px 0;
                        content: "Filtrar";                
                        color: @blue;
                        font-size: 16px;
                        font-weight: 500;
                                               
                    }
                    &::after{
                        content: "";
                        margin-left:8px;
                        height: 20px;
                        width: 22px;                        
                        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIxOSIgdmlld0JveD0iMCAwIDIyIDE5Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlPSIjNDA5Ij4KICAgICAgICA8ZyB0cmFuc2Zvcm09InJvdGF0ZSg5MCAxMC41IDExLjUpIj4KICAgICAgICAgICAgPHBhdGggZD0iTTMuNSAwdjIyIi8+CiAgICAgICAgICAgIDxjaXJjbGUgY3g9IjMuNSIgY3k9IjE1LjUiIHI9IjMuNSIgZmlsbD0iI0ZGRiIgc3Ryb2tlLXdpZHRoPSIuNzUiLz4KICAgICAgICA8L2c+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJyb3RhdGUoOTAgNS41IDE2LjUpIj4KICAgICAgICAgICAgPHBhdGggZD0iTTMuNSAwdjIyIi8+CiAgICAgICAgICAgIDxjaXJjbGUgY3g9IjMuNSIgY3k9IjYuNSIgcj0iMy41IiBmaWxsPSIjRkZGIiBzdHJva2Utd2lkdGg9Ii43NSIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==) 0 0 no-repeat
                    }
                    &::before,
                    &::after{
                        vertical-align: middle;
                        display:inline-block
                    }             
                }
                >div{
                    padding: 10px;
                    max-height: 300px;
                    border:1px solid #f2f2f2; 
                    border-top: none;
                    border-radius:0 0 3px 3px;
                    overflow: auto !important;
                    display: none
                }
            }

            .menu-navegue {
                display: none;
            }
        }
        .search-single-navigator {
            .productClusterSearchableIds {
                display: none;
            }
            h3 {
                font-weight: 600;
                font-size: 1.625em;
                line-height: 1.25;
                margin-bottom: 10px;
                a {
                    color: @green;
                }
            }
            h4,
            h5,
            h6 {
                font-weight: 600;
                font-size: 1.231em;
                line-height: 1.25;
                color: @blue;
                margin-bottom: 15px;
                a {
                    color: @blue;
                }
            }
            .resultados {
                width: 100%;
                height: auto;
                display: inline-block;
                margin-bottom: 20px;
                color: @gray;
            }
            ul {
                margin-bottom: 40px;
                &.active {
                    li {
                        &:nth-child(n+5) {
                            display: block;
                        }
                    }
                }
                li {
                    font-size: 1.077em;
                    font-weight: 300;
                    cursor: pointer;
                    margin-bottom: 5px;
                    line-height: 1.3;
                    &:nth-child(n+5) {
                        display: none;
                    }
                    &.vermenos {
                        display: none;
                    }
                    &.vermas {
                        display: block;
                    }
                    &.vermas,
                    &.vermenos {
                        color: @green;
                        font-weight: bold;
                        &:hover {
                            color: @lime;
                        }
                    }
                    a {
                        color: @gray;
                        &:hover {
                            color: @dark;
                        }
                    }
                }
            }
        }
    }
    #main {        
        @media (min-width:962px){
            width: -webkit-calc(~"100% - 440px");
            width: -moz-calc(~"100% - 440px");
            width: calc(~"100% - 440px");
        }
        .searchResultsTime,
        .sub {
            display: none;
        }
        .vitrine {
            .pager {
                &.top,
                &.bottom {
                    display: none;
                }
                &.bottom {
                    margin-top: 20px;
                    margin-bottom: 50px;
                    .pages {
                        .centro;
                        .meio;
                        li {
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            overflow: hidden;
                            text-align: center;
                            background-color: #FFF;
                            margin: 0 2px;
                            border-bottom: 2px solid @gris;
                            font-size: 1.1em;
                            color: @gray;
                            &:hover {
                                color: @dark;
                            }
                            &.pgCurrent {
                                color: @dark;
                            }
                            &.first,
                            &.last {
                                display: none;
                            }
                            &.previous {
                                border-top-left-radius: 2px;
                                border-bottom-left-radius: 2px;
                                text-indent: 9999px;
                                &:before {
                                    width: 40px;
                                    height: 40px;
                                    content: "\f104";
                                    font-family: @icon;
                                    text-indent: 0;
                                    float: left;
                                    text-align: center;
                                }
                            }
                            &.next {
                                border-top-right-radius: 2px;
                                border-bottom-right-radius: 2px;
                                text-indent: 9999px;
                                &:before {
                                    width: 40px;
                                    height: 40px;
                                    content: "\f105";
                                    font-family: @icon;
                                    text-indent: 0;
                                    float: left;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
            [id^="ResultItems_"] {
                width: 100%;
                height: auto;
                overflow: hidden;
                .shelf {
                    &.grid {
                        >ul {
                            >li {
                                @media (min-width:460px){
                                    .container {
                                        max-width: 215px;
                                    }
                                }
                            }
                        }
                    }
                    >ul {
                        flex-wrap: wrap;
                        display: flex;
                        justify-content: space-between;
                        >li {
                            float: left;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
    
}