@media-large: 812px;
@media-medium: 667px;
@media-small: 320px;

html body.pascua [role="main"] { margin-top: 0 !important; }

.pascua {
	main { position: relative; }

	#topBanner {
		width: 100%;
		height: 400px;
		overflow: hidden;
		.centro;
		.meio;
	}

	#title-meta { display: none; }

	#has-category {
		display: inline-block;
		width: 100%;
		.box-banner {
			float: left;
			position: relative;
			top: 30px;
			margin-bottom: 45px;
			border-top-left-radius: 50% 60%;
			border-top-right-radius: 50% 60%;
			border-bottom-right-radius: 50% 40%;
			border-bottom-left-radius: 50% 40%;
			height: 135px;
			width: 110px;
			margin: 0 3% 100px 4%;
			transition: background 1s;
			@media( max-width: 1024px ) {
				margin: 0 2% 100px 2.9%;
			}

			@media( max-width: @media-large ) {
				margin: 0 0 100px 0;
			}
			@media( max-width: @media-medium ) {
				box-sizing: content-box;
				width: 82px;
				height: 105px;
				border: none;
				border-top-left-radius: 50% 60%;
				border-top-right-radius: 50% 60%;
				border-bottom-right-radius: 50% 40%;
				border-bottom-left-radius: 50% 40%;
				font: normal 100%/normal Arial, Helvetica, sans-serif;
				color: rgba(0,0,0,1);
				-o-text-overflow: clip;
				text-overflow: clip;
				float: left;
				margin: 27px 5% 27px 9%;
			}

			@media ( max-width: 414px ) {
				margin: 0 6% 60px 6%;
			}

			@media ( max-width: 375px ) {
				margin: 0 5% 60px 5%;
			}

			@media ( max-width: @media-small ) {
				margin: 0 3% 60px 3%;
			}

			&:first-child { background-color: #F7F4C1; }

			&:nth-child(2) {
				background-color: #F4E9F1;
				img {
					position: absolute;
					top: 40px;
					height: 115px;
					left: -8px;
					width: 115px;
					@media( max-width: 667px ) {
						top: 0;
					}

				}
				h3 {
					position: relative;
					float: left;
					width: 100%;
					top: 143px;
					@media( max-width: 667px ) {
						top: 100px;
					}
				}	
			}

			&:nth-child(3) {
				background-color: #D6ECDF;
				img {
					position: absolute;
					top: 35px;
					height: 115px;
					width: 115px;
					@media( max-width: 667px ) {
						top: 0;
					}
				}
				h3 {
					position: relative;
					float: left;
					width: 100%;
					top: 143px;
					@media( max-width: 667px ) {
						top: 100px;
					}
				}	
			}
			
			&:nth-child(4) { background-color: #B8DCEC; }
			
			&:nth-child(5) { background-color: #E4C3CF; }
			
			&:last-child { background-color: #CDE4EC; }

			h3 {
				position: relative;
				top: 40px;
				color: #001F62;
				font: 400 14px/1.1 Roboto,sans-serif;
				@media( max-width: @media-medium ) {
					top: -20px;
				}
			}

			a {
				display: inline-block;
				width: 100px;
				text-align: center;
				&:before {
					content: "";
					display: inline-block;
				}
				@media( max-width: @media-medium ) {
					width: 100%;
					padding: 10px 0;
					position: relative;
					top: 20px;
				}
			}
			img {
				width: 100px;
				height: 100px;
				position: relative;
				left: 5px;
				top: 40px;
				z-index: 2;
				@media( max-width: @media-medium ) {
					left: -3px;
					top: -26px;
					width: 90px;
					height: 90px;
					&:nth-child(2),
					&:nth-child(3) { top: -15px !important; }
					&:nth-child(5) {
						width: 80px;
						height: 80px;
						top: 0px;
					}
				}
			}
		}
	}

	.pascua-divider {
		display: inline-block;
		width: 100%;
		height: 40px;
		background-image: url(/arquivos/eggs.png);
		background-repeat: repeat-x;
		background-position: bottom;
		margin-bottom: 30px;
		position: absolute;
		top: 105px;
		display: none;
	}

	.shelf {
		h2 {
			color: #8A888B;
			margin-bottom: 15px;
			text-shadow: 0 1px 8px #fff;
		}

		.link-titulo {
			float: right;
			color: #fff;
			text-shadow: 0px 1px 10px #000;
		}
	}

	.pascua-ofertas {
		width: 48%;
		display: inline-block;
		border-radius: 5px 5px 0 0;
		padding: 20px 10px;
		margin-bottom: 30px;
		@media( max-width: 1024px ) {
			width: 100%;
		}
	}

	.pascua-ofertas-01 {
		background-color: #F7F4C1;
		@media( max-width: @media-medium ) {
			margin-top: 60px;
		}
	}
	
	.pascua-ofertas-02 {
		background-color: #F4E9F1;
		float: right;
		img {
			width: 115px;
			height: 115px;
			top: 20px;
			left: 0;
		}
	}

	.pascua-ofertas-03 {
		background-color: #D6ECDF;
		img {
			width: 115px;
			height: 115px;
			top: 20px;
			left: 0;
		}
	}
	
	.pascua-ofertas-04 {
		background-color: #B8DCEC;
		float: right;
	}
	
	.pascua-ofertas-05 { background-color: #E4C3CF; }
	
	.pascua-ofertas-06 {
		background-color: #CDE4EC;
		float: right;
	}

	.shelf {
		&.grid {
			li {
				width: 50%;
				float: left;
				@media( max-width: @media-large ) {
					width: 100%;
				}
				.container {
					max-width: 100%;
					background-color: #fff;
					border: none;
					border-radius: 0;
					padding: 10% 5%;
				}
			}
		}
	}

	.DiscountHightLight {
		.flag { background-color: #56A9DC !important; }
	}
}