// imports
@import url("//use.fontawesome.com/476e55f9cd.css");
@import url("//fonts.googleapis.com/css?family=Roboto");
@import "inc-hover";
@import "inc-slick";
@import "inc-base64";
@import "inc-franja";
@import "inc-comuna";
@import "inc-shelf";
@import "inc-icons";
@import "inc-busquedavacia.less";
@import "inc-error404";
@import "inc-pascua";
@import "inc-lists";


// variables
// @font: "Trebuchet MS", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
@font: "Roboto", sans-serif;
@icon: "FontAwesome";
@dark: lighten(#000, 10%);
@gray: lighten(#000, 50%);
@gris: lighten(#000, 95%);
@blue: #001F62;
@darkblue: #000F30;
@red: #f15a29;
@orange: @red;
@lime: #00B78C;
@green: #0c9;
@pink: #f400c7;

.loader {
	display: none;
}
.product-insertsku {
	display: block !important;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:before, &:after {
		-webkit-box-sizing: inherit;
		-moz-box-sizing: inherit;
		box-sizing: inherit;
	}
}
html {
	height: 100%;

	body {
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		font: normal 13px/1.1 @font;
		// letter-spacing: -1px;
		// background-color: lighten(@dark, 87%);
		.clearfix;
		a {
			text-decoration: none;

			&:active, &:hover, &:focus {
				text-decoration: none;
			}
		}
		&:not(.home, .navidad) {
			header {
				position: fixed;
				top: 0;
				z-index: 11;
			}
			nav {
				position: fixed;
				top: 54px;
				z-index: 10;

				#menu {
					overflow: initial !important;
				}
			}
			[role="main"] {
				margin-top: 116px;
				position: relative;
			}
		}
	}
}
// loading
#ajaxBusy {
	width: 100%;
	height: 5px;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background-color: @blue;
	z-index: 9999;
	font-size: 0;
	display: none !important;
	visibility: hidden !important;

	&:before {
		display: block;
		position: absolute;
		content: "";
		left: -200px;
		width: 200px;
		height: 5px;
		background-color: #FFF;
		animation: loading 2s linear infinite;
	}
}
.loading {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	z-index: 1;
	// visibility: hidden;
	.centro;
	.meio;
}
// blackboard
[rel="/no-cache/callcenter/disclaimer"] {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 3;
	display: none;
}
// warp
.warp {
	width: 100%;
	max-width: 1440px;

	@media (min-width:1200px) and  (max-width:1440px) {
		max-width: 1200px;
	}
	@media (min-width:960px) and  (max-width:1200px) {
		max-width: 960px;
	}
	@media (min-width:720px) and  (max-width:960px) {
		max-width: 720px;
	}
	@media (max-width:720px) {
		max-width: 480px;
	}
	margin: 0 auto;
	padding: 0 10px;
}
// spinner
.lodiando {
	width: 100%;
	height: 30px;
	.centro;
	.meio;
}
.spinner {
	// margin: 100px auto 0;
	width: 70px;
	text-align: center;

	> div {
		width: 18px;
		height: 18px;
		background-color: @lime;
		border-radius: 100%;
		display: inline-block;
		-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
		animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	}
	.bounce1 {
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}
	.bounce2 {
		-webkit-animation-delay: -0.16s;
		animation-delay: -0.16s;
	}
}
// keyframes
@keyframes loading {
	from {
		left: -200px;
		width: 30%;
	}
	50% {
		width: 30%;
	}
	70% {
		width: 70%;
	}
	80% {
		left: 50%;
	}
	95% {
		left: 120%;
	}
	to {
		left: 100%;
	}
}
@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1.0);
	}
}
@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}
	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}
@keyframes placeholdershimmer {
	0% {
		background-position: -468px 0
	}
	100% {
		background-position: 468px 0
	}
}
@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}
	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}
// flexbox
.flex() {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}
.centro() {
	.flex();
	-ms-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.meio() {
	.flex();
	-ms-align-items: center;
	-webkit-align-items: center;
	align-items: center;
}
.esquerda() {
	.flex();
	-ms-justify-content: flex-start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
}
.direita() {

	.flex();
	-ms-justify-content: flex-end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
.entre() {
	.flex();
	-ms-justify-content: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.proximo() {
	.flex();
	-ms-justify-content: space-around;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}
// clearfix
.clearfix() {
	*zoom: 1;

	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}
// no mark
.noMark() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
// animated loading
.animated-background {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeholdershimmer;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: #eeeeee;
	background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	background-size: 800px 104px;
}
// cucarda porcentaje
.porcentaje(@value:" 30%") {
	position: absolute;
	top: 10px;
	left: -5px;
	width: 55px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 1em;
	color: #FFF;
	background-color: @blue;
	background-image: none;
	text-indent: -9999px;
	z-index: 1;
	visibility: visible;

	&:after {
		content: "";
		bottom: -5px;
		left: 0px;
		border-color: transparent darken(@blue, 20%);
		border-width: 0px 5px 5px 0px;
		position: absolute;
		border-style: solid;
		display: block;
		width: 0;
		z-index: 20;
	}
	&:before {
		width: 50px;
		height: 28px;
		line-height: 28px;
		content: @value;
		font-weight: bold;
		text-indent: 5px;
		float: left;
		font-family: @icon, @font;
	}
}
//
.ventapor(@value:"2x1", @color:@pink) {
	position: absolute;
	top: 50px;
	left: -5px;
	width: 55px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 1em;
	color: #FFF;
	background-color: @color;
	text-indent: -9999px;
	z-index: 1;

	&:after {
		content: "";
		bottom: -5px;
		left: 0px;
		border-color: transparent darken(@color, 20%);
		border-width: 0px 5px 5px 0px;
		position: absolute;
		border-style: solid;
		display: block;
		width: 0;
		z-index: 20;
	}
	&:before {
		width: 50px;
		height: 28px;
		line-height: 28px;
		content: @value;
		font-weight: bold;
		text-indent: 5px;
		float: left;
		font-family: @icon, @font;
	}
}
// hover in
.hover_in(@bg:@gris, @color:@gray) {
	&:hover {
		&:before {
			background-color: @bg;
		}
		a {
			color: @color;
		}
	}
}
// placeholder
.placeholder(@color, @style, @weight) {
	&::-webkit-input-placeholder {
		color: @color;
		font-style: @style;
		font-weight: @weight;
	}
	&::-moz-placeholder {
		color: @color;
		font-style: @style;
		font-weight: @weight;
	}
	&:-ms-input-placeholder {
		color: @color;
		font-style: @style;
		font-weight: @weight;
	}
	&:-moz-placeholder {
		color: @color;
		font-style: @style;
		font-weight: @weight;
	}
}
// minicart
.minicartmodelo() {
	.recover-cart {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: 2;
		background:rgba(0, 0, 0, 0.8);
		.centro;
		.meio;
		h3 {
			text-align: center;
			a {
				color: #FFF;
			}
		}
		.buttons {
			.centro;
			.meio;

			button {
				width: 40px;
				height: 30px;
				border: none;
				margin: 15px 5px 0;
				font-size: 1.1em;
				color: #FFF;
				text-transform: uppercase;
				border-radius: 3px;
				cursor: pointer;

				&.si {
					background: @green;
				}
				&.no {
					background: @red;
				}
			}
		}
	}
	.items {
		width: 100%;
		height: calc(~"100% - 60px");
		margin-bottom: 10px;
		overflow-x: hidden;
		overflow-y: scroll;

		.item {
			width: 100%;
			height: auto;
			padding: 0 5px 10px;
			margin-top: 20px;
			margin-bottom: 20px;
			.entre;
			.meio;
			position: relative;
			// animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
			// transform: translate3d(0, 0, 0);
			// backface-visibility: hidden;
			// perspective: 1000px;

			&:not(:last-child) {
				border-bottom: 1px dashed @gris;
			}
			.img {
				width: 40px;
				height: 40px;
				position: relative;

				.delete {
					position: absolute;
					top: -10px;
					left: 0;
					border: none;
					background-color: transparent;
					font-size: 1.1em;
					cursor: pointer;
				}
				img {
					width: auto;
					height: 100%;
				}
			}
			.name-price {
				width: calc(~"100% - 95px");

				.name {
					width: 100%;
					height: 22px;
					line-height: 22px;
					overflow: hidden;
					display: block;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					color: @blue;
					font-weight: bold;
					font-size: 1em;
				}
				.price {
					width: 100%;
					height: 22px;
					line-height: 22px;
					color: @red;
					font-size: 1.1em;
					padding: 0 10px 0 0;
					font-weight: bold;

					.price {
						color: @gray;
					}
				}
			}
			.buy {
				width: 45px;
				height: auto;
				.centro();

				button {
					i {
						color: #FFF;
						font-size: 1.5em;
					}
				}
				.qty {
					width: 45px;
					height: 40px;
					border: 1px solid @gray;
					.centro();

					#amout {
						width: calc(~"100% - 20px");
						height: 38px;
						text-align: center;
						font: bold 1.1em/1em @font;
						border: none;
					}
					.counter {
						width: 20px;
						height: auto;
						position: relative;
						border-left: 1px solid @gray;

						span {
							width: 20px;
							height: auto;
							display: block;
							text-align: center;
							position: absolute;
							cursor: pointer;

							i {
								font-size: 1.1em;
							}
							&.up {
								top: 2px;
								border-bottom: 1px solid @gray;
							}
							&.down {
								bottom: 2px;
							}
						}
					}
				}
			}
		}
	}

	.go-cart {
		width: 200px;
		height: 40px;
		border: none;
		margin: 0 auto;
		display: block;
		background-color: @red;
		font: 500 1.1em/1em @font;
		color: #FFF;
		font-weight: 500;
		cursor: pointer;
	}

	.save-okay {
		display: none;
	}

	.save-cart {
		width: 200px;
		height: 40px;
		border: none;
		margin: 0 auto;
		display: block;
		background-color: @blue;
		font: 500 1.1em/1em @font;
		color: #FFF;
		font-weight: 500;
		cursor: pointer;
		margin-bottom: 10px;
		display: none;

		.load-save {
			display: none;
		}
	}

	&.save-cart-okay {
		.items {
			height: calc(~"100% - 110px");
		}
		.save-cart {
			display: block;
		}
	}
}
// icon items
.iconItems() {
	&.despensa {
		&:hover {
			&:before {
				background-image: @rdespensa;
			}
		}
		&:before {
			background-image: @bdespensa;
		}
	}
	&.desayuno-y-dulces {
		&:hover {
			&:before {
				background-image: @rdesayuno-y-dulces;
			}
		}
		&:before {
			background-image: @bdesayuno-y-dulces;
		}
	}
	&.panaderia {
		&:hover {
			&:before {
				background-image: @rpanaderia;
			}
		}
		&:before {
			background-image: @bpanaderia;
		}
	}
	&.frescos {
		&:hover {
			&:before {
				background-image: @rfrescos;
			}
		}
		&:before {
			background-image: @bfrescos;
		}
	}
	&.carnes, &.carnes-y-pescados {
		&:hover {
			&:before {
				background-image: @rcarnes;
			}
		}
		&:before {
			background-image: @bcarnes;
		}
	}
	&.bebidas-y-licores {
		&:hover {
			&:before {
				background-image: @rbebidas-y-licores;
			}
		}
		&:before {
			background-image: @bbebidas-y-licores;
		}
	}
	&.limpieza-y-hogar {
		&:hover {
			&:before {
				background-image: @rlimpieza-y-hogar;
			}
		}
		&:before {
			background-image: @blimpieza-y-hogar;
		}
	}
	&.higiene-y-belleza {
		&:hover {
			&:before {
				background-image: @rhigiene-y-belleza;
			}
		}
		&:before {
			background-image: @bhigiene-y-belleza;
		}
	}
	&.mascotas {
		&:hover {
			&:before {
				background-image: @rmascotas;
			}
		}
		&:before {
			background-image: @bmascotas;
		}
	}
	&.sin-gluten {
		&:hover {
			&:before {
				background-image: @singluten;
				background-size: 75%;
			}
		}
		&:before {
			background-image: @singluten;
			background-size: 75%;
		}
	}
	&.ofertas {
		&:hover {
			&:before {
				background-image: @destacados;
				background-size: 70%;
			}
		}
		&:before {
			background-image: @destacados;
			background-size: 70%;
		}
	}
	&.frutas-y-verduras {
		&:hover {
			&:before {
				background-image: @rfyv;
				background-size: 70%;
			}
		}
		&:before {
			background-image: @fyv;
			background-size: 70%;
		}
	}
	&.congelados {
		&:hover {
			&:before {
				background-image: @rcongelados;
				background-size: 70%;
			}
		}
		&:before {
			background-image: @congelados;
			background-size: 70%;
		}
	}
	&.corta-duracion {
		&:hover {
			&:before {
				background-image: @rcd;
				background-size: 70%;
			}
		}
		&:before {
			background-image: @cd;
			background-size: 70%;
		}
	}
}
.load-cart-container {
	width: 300px;
	height: 180px;
	background: #FFF;
	z-index: 60;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -90px 0 0 -150px;
	border-radius: 4px;
	display: none;

	.load-cart-header {
		text-align: right;
		padding: 10px;
		cursor: pointer;
	}
	.load-cart-title {
		font-size: 25px;
		color: @blue;
		text-align: center;
		font-weight: normal;
	}
	.load-cart-buttons {
		.centro;
		.meio;
		margin-top: 20px;

		button {
			width: auto;
			height: 40px;
			border: none;
			margin: 0 5px;
			padding: 0 15px;
			border-radius: 2px;
			color: #FFF;
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
			cursor: pointer;

			&.no {
				background: @gray;
				&:hover {
					background: darken(@gray, 10%);
				}
			}
			&.si {
				background: @green;
				&:hover {
					background: darken(@green, 10%);
				}
			}
		}
	}
}