@import "inc-config";
.slick-initialized {
    .slick-cloned {
        .flags {
            display: none;
        }
    }
    .slick-arrow {
        width: 40px;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 1;
        cursor: pointer;
        background-color: transparent;
        border: none;
        .centro();
        .meio();
        span {
            width: 40px;
            height: 40px;
            display: block;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.9); // border: 1px solid @gris;
            border-radius: 100%;
            transition: all 0.1s ease-in;
            i {
                width: 40px;
                height: 40px;
                font-size: 3em;
                line-height: 40px;
            }
        }
        &.slick-disabled {
            opacity: .5;
        }
        &.slick-left {
            left: -20px;
            @media (max-width:540px) {
                left: 0;
            }
        }
        &.slick-right {
            right: -20px;
            @media (max-width:540px) {
                right: 0;
            }
        }
    }
    .slick-list {
        margin: 0 -10px;
        .slick-slide {
            margin: 0 10px;
        }
    }
}

.shelf {
    &.grid {
        ul {
            li {
                margin-bottom: 20px;
                .container {
                    width: auto;
                    height: auto;
                    min-height: 480px;
                    position: relative;
                    border: 1px solid @gris;
                    padding: 10px 5px;
                    transition: all .5s;
                    background-color: #FFF;
                    border-radius: 2px;
                    @media (min-width:460px){
                        max-width: 215px;
                    }
                    &.cybermonday {
                    &:hover {
                        border-color: black;
                    }
                        .name {
                            a {
                                color: black;
                            }
                        }
                    .price {
                        span {
                            &.best-price {
                                color: black;
                            }
                        }
                    }
                        .skuSelect {
                        .variations {
                            .InsertSku {
                                .product-insertsku {
                                    fieldset {
                                        .insert-sku-checklist {
                                            .is-checklist-item {
                                                label {
                                                    .insert-sku-name {
                                                        &.active {
                                                            border: 1px solid black;
                                                            color: black;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        }
                        .buy {
                            .buysku {
                                background-color: black;
                            }
                        }
                    }

                    &.done {
                        .loading {
                            visibility: hidden;
                        }
                    }

                    &:hover {
                        border-color: @lime;
                        .image {
                            a {
                                transform: scale(1.08);
                            }
                        }
                    }
                    .flags {
                        [class*="cyber"] {
                            font-size: 0px;
                            background-image: url("/arquivos/elSuperCyber.png");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 100%;
                            width: 60px;
                            height: 60px;
                            position: absolute;
                            left: 15px;
                            top: 130px;
                            z-index: 1;
                            display: none;
                        }
                        .cd-70- {
                            width: 60px;
                            height: 88px;
                            background-image: url("/arquivos/flag-consumo-hoy.png");
                            background-size: 100%;
                            font-size: 0;
                            top: 0px;
                            right: 10px;
                        }
                        .cd-50- {
                            width: 60px;
                            height: 88px;
                            background-image: url("/arquivos/flag-consumir-7-dias.png");
                            background-size: 100%;
                            font-size: 0;
                            top: 0px;
                            right: 10px;
                        }
                        .cd-40- {
                            width: 60px;
                            height: 88px;
                            background-image: url("/arquivos/flag-consumir-14-dias.png");
                            background-size: 100%;
                            font-size: 0;
                            top: 0px;
                            right: 10px;
                        }
                        .cd-30- {
                            width: 60px;
                            height: 88px;
                            background-image: url("/arquivos/flag-consumir-21-dias.png");
                            background-size: 100%;
                            font-size: 0;
                            top: 0px;
                            right: 10px;
                        }
                        .flag {
                            position: absolute;
                            z-index: 1;
                            font-size: 0;
                            &.producto-de-exportacion {
                                width: 60px;
                                height: 60px;
                                font-size: 0;
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                background-image: url("/arquivos/producto-de-exportacion.png");
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 100% auto;
                                z-index: 1;
                            }
                            &.wellness {
                                width: 60px;
                                height: 60px;
                                font-size: 0;
                                position: absolute;
                                top: 30px;
                                left: 10px;
                                background-image: url("/arquivos/wellness-flag.png");
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 100% auto;
                                z-index: 1;
                            }
                            &.compra-mas-y-paga-menos {
                                width: 60px;
                                height: 60px;
                                font-size: 0;
                                position: absolute;
                                top: 80px;
                                right: 10px;
                                background-image: url("/arquivos/compra-mas-y-paga-menos.png");
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: 100% auto;
                                z-index: 1;
                            }
                            &.super-precio {
                                width: 60px;
                                height: 60px;
                                background-image: url("/arquivos/super-precio.png");
                                background-size: 100%;
                                font-size: 0;
                                top: 10px;
                                right: 10px;
                            }
                            &.productos-nuevos {
                                width: 60px;
                                height: 60px;
                                background-image: url("/arquivos/nuevo-producto.png");
                                background-size: 100%;
                                font-size: 0;
                                top: 90px;
                                right: 10px;
                            }
                            &.regalo {
                                width: 60px;
                                height: 60px;
                                background-image: url("/arquivos/28_6-Flag-Producto-Regalo.png");
                                background-size: 100%;
                                font-size: 0;
                                top: 10px;
                                right: 10px;
                            }
                        }
                        .add {
                            position: absolute;
                            top: 190px;
                            left: -5px;
                            width: auto;
                            height: 28px;
                            line-height: 28px;
                            text-align: center;
                            font-size: 1em;
                            color: #FFF;
                            font-family: @icon, @font;
                            background-color: @green;
                            z-index: 1;
                            padding: 0 10px;
                            &:after {
                                content: "";
                                bottom: -5px;
                                left: 0px;
                                border-color: transparent darken(@green, 20%);
                                border-width: 0px 5px 5px 0px;
                                position: absolute;
                                border-style: solid;
                                display: block;
                                width: 0;
                                z-index: 0;
                            }
                        }
                        [class*="2x1"] {
                            .ventapor("2X1");
                            z-index: 1;
                        }
                        [class*="3x2"] {
                            .ventapor("3X2");
                            z-index: 2;
                        }
                        [class*="4x3-productos"] {
                            .ventapor("4X3");
                            z-index: 3;
                        }
                        [class*="5x4-productos"] {
                            .ventapor("5X4");
                            z-index: 4;
                        }
                        [class*="6x5-productos"] {
                            .ventapor("6X5");
                            z-index: 5;
                        }
                        [class*="70-dcto-productos"],[class*="70--dcto-productos"] {
                            .porcentaje(" 70%");
                            z-index: 6;
                        }
                        [class*="50-dcto-productos"],[class*="50--dcto-productos"] {
                            .porcentaje(" 50%");
                            z-index: 5;
                        }
                        [class*="40-dcto-productos"],[class*="40--dcto-productos"] {
                            .porcentaje(" 40%");
                            z-index: 4;
                        }
                        [class*="30-dcto-productos"],[class*="30--dcto-productos"] {
                            .porcentaje(" 30%");
                            z-index: 3;
                        }
                        [class*="25-dcto-productos"],[class*="25--dcto-productos"] {
                            .porcentaje(" 25%");
                            z-index: 2.5;
                        }
                        [class*="20-dcto-productos"],[class*="20--dcto-productos"] {
                            .porcentaje(" 20%");
                            z-index: 2;
                        }
                        [class*="15-dcto-productos"],[class*="15--dcto-productos"] {
                            .porcentaje(" 15%");
                            z-index: 1.5;
                        }
                        [class*="10-dcto-productos"],[class*="10--dcto-productos"] {
                            .porcentaje(" 10%");
                            z-index: 1;
                        }
                        // [class*="5-dcto-productos"],[class*="5--dcto-productos"] {
                        //     .porcentaje(" 5%");
                        //     z-index: 1;
                        // }
                    }
                    .image {
                        width: 100%;
                        height: auto;
                        overflow: hidden;
                        margin-bottom: 10px;
                        a {
                            display: block;
                            transition: all .5s;

                            .no-image {
                                display: none;
                            }
                            >div {
                                display: block !important;
                            }
                        }
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .brand {
                        width: 100%;
                        height: auto;
                        text-align: center;
                        margin-bottom: 10px;
                        a {
                            color: @dark;
                            font-weight: normal;
                        }
                    }
                    .name {
                        width: 100%;
                        height: 40px;
                        line-height: 20px;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        font-weight: bold;
                        text-align: center;
                        color: @blue;
                        padding: 0 5px;
                        a {
                            font-size: 1em;
                            color: @blue;
                        }
                    }
                    .sin-stock {
                        text-align: center;
                        color: @red;
                        font-size: 1.1em;
                        margin: 30px 0;
                    }
                    .price-per {
                        margin-top: 10px;
                        margin-bottom: 10px;
                        text-align: center;
                        min-height: 14px;
                        small {
                            font-size: .9em;
                            color: @gray;
                        }
                    }
                    .skuSelect {
                        h6 {
                            font-size: .9em;
                            font-weight: normal;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            text-align: center;
                        }
                        .variations {
                            .InsertSku {
                                display: block !important;

                                .product-insertsku {
                                    fieldset {
                                        border: none;

                                        .insert-sku-checklist {
                                            // .centro;
                                            // .meio;
                                            margin-bottom: 10px;
                                            width: 100%;
                                            height: auto;
                                            overflow: hidden;

                                            .is-checklist-item {
                                                float: left;
                                                margin-bottom: 4px;

                                                &.unavailable {
                                                    display: none;
                                                }

                                                .insert-sku-quantity, .insert-sku-checkbox {
                                                    display: none;
                                                }

                                                label {
                                                    .insert-sku-count {
                                                        display: none;
                                                    }
                                                    .insert-sku-name {
                                                        border: 1px solid @gray;
                                                        color: @gray;
                                                        padding: 0 5px;
                                                        margin: 0 2px;
                                                        height: 30px;
                                                        line-height: 30px;
                                                        overflow: hidden;
                                                        display: -webkit-box;
                                                        -webkit-line-clamp: 1;
                                                        -webkit-box-orient: vertical;
                                                        cursor: pointer;
                                                        .noMark;

                                                        &.active {
                                                            border: 1px solid @lime;
                                                            color: @lime;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .price {
                        .centro();
                        .meio();
                        color: @dark;
                        margin-bottom: 10px;
                        font-size: 1.2em;
                        &:hover,
                        &:focus,
                        &:active {
                            text-decoration: none;
                        }
                        span {
                            padding: 0 10px;
                            display: inline-block;
                            font-size: 1.3em;
                            &.list-price {
                                color: @gray;
                            }
                            &.best-price {
                                color: @blue;
                            }
                        }
                    }
                    .buy {
                        width: auto;
                        height: auto;
                        overflow: hidden;
                        .centro();
                        button {
                            i {
                                color: #FFF;
                                font-size: 1.5em;
                            }
                        }
                        .qty {
                            width: 60px;
                            height: 40px;
                            border: 1px solid @gray;
                            margin-right: 10px;
                            .centro();
                            #amout {
                                width: calc(~"100% - 20px");
                                height: 38px;
                                text-align: center;
                                font: bold 1.4em/1em @font;
                                border: none;
                            }
                            .counter {
                                width: 20px;
                                height: auto;
                                position: relative;
                                border-left: 1px solid @gray;
                                span {
                                    width: 20px;
                                    height: auto;
                                    display: block;
                                    text-align: center;
                                    position: absolute;
                                    cursor: pointer;
                                    i {
                                        font-size: 1.1em;
                                    }
                                    &.up {
                                        top: 2px;
                                        border-bottom: 1px solid @gray;
                                    }
                                    &.down {
                                        bottom: 2px;
                                    }
                                }
                            }
                        }
                        .buysku {
                            width: calc(~"100% - 80px");
                            height: 40px;
                            border: none;
                            background-color: @lime;
                            color: #FFF;
                            font: 700 1.1em/1em @font;
                            text-transform: uppercase;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}