// franja container
.franja-container {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	.centro;
	.meio;
	z-index: 20;
	visibility: hidden;

	.franja-box {
		width: 100%;
		max-width: 960px;
		position: relative;

		@media (min-width:720px) and  (max-width:960px) {
			max-width: 720px;
		}
		@media (max-width:720px) {
			max-width: 480px;
		}
		height: 100%;
		max-height: 500px;
		overflow: hidden;
		background-color: #FFF;
		border-radius: 4px;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);

		.content-container {
			width: 100%;
			height: 100%;
			overflow: hidden;
			visibility: hidden;

			.top {
				width: 100%;
				height: auto;
				margin-top: 15px;
				.entre;

				>h3 {
					font-size: 1.8em;
					color: @blue;
					text-indent: 20px;
					margin-bottom: 10px;
				}
				.close {
					color: @gray;
					font-size: 1.8em;
					margin-right: 20px;
					cursor: pointer;
				}
			}
			.info {
				text-indent: 20px;
				font-size: 1.1em;
				color: @dark;
				margin-bottom: 10px;
			}
			.table {
				width: calc(~"100% - 40px");
				height: calc(~"100% - 100px");
				border: 1px solid @gris;
				border-radius: 4px;
				margin: auto;

				#franja {
					width: 100%;
					height: 100%;
					border-collapse: collapse;

					th, td {
						width: calc(~"100% / 8");
						height: auto;
						text-align: center;
					}
					thead {
						tr {
							height: auto;
							background-color: @green;
							border-bottom: 1px solid @gray;

							th {
								color: #FFF;
								height: 55px;

								.week {
									line-height: 20px;
									font-weight: normal;
								}
								.mes {
									line-height: 20px;
								}
								&:not(:first-child) {
									border-left: 1px dashed @gris;
								}
							}
						}
					}
					tbody {
						tr {
							&:nth-child(even) {
								background-color: @gris;
							}
							td {
								color: @gray;
								font-size: 1.2em;
								font-weight: bold;

								&:not(:first-child) {
									border-left: 1px dashed @gray;
								}
								&.hora-title {
									color: @green;
								}
								&.delivery {
									.contenedor {
										.centro;
										.meio;

										.icon {
											width: 40px;
											height: 40px;
											background-image: @id;
											background-size: 100%;
										}
									}
								}
								&.no-delivery {
									.icon {
										width: 40px;
										height: 40px;
										background-image: @nd;
										background-size: 100%;
										display: inline-block;
									}
								}
							}
						}
					}
				}
			}
			div.status {
				width: calc(~"100% - 20px");
				height: 50px;
				margin-left: 20px;
				.esquerda;

				span {
					width: auto;
					height: 50px;
					display: inline-block;
					line-height: 50px;
					position: relative;
					text-indent: 55px;

					&:before {
						width: 50px;
						height: 50px;
						top: 0;
						left: 0;
						position: absolute;
						content: " ";
						background-position: center;
						background-repeat: no-repeat;
						background-size: 80% auto;
					}
					&.no-disponible {
						margin-right: 20px;

						&:before {
							background-image: @nd;
						}
					}
					&.disponible {
						&:before {
							background-image: @id;
						}
					}
				}
			}
		}
	}
}