@import "inc-config";
.search-single-navigator {
    h3 {
        display: block !important;
        font-weight: 600;
        font-size: 1.625em;
        line-height: 1.25;
        margin-bottom: 10px;
        a {
            color: @lime;
        }
    }
}
.didyoumean {
    display: none;
}