@import "inc-config";

footer {
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #FFF;

	.foot {
		width: 100%;
		max-width: 960px;
		height: auto;
		margin: 50px auto 30px;

		@media(max-width:720px){
			padding: 0 10px
		}

		.box {
			&.top, &.bottom {
				.entre();
				@media (max-width:720px) {
					flex-wrap: wrap
				}
			}
			&.top {
				.left,
				.rigth{
					@media (max-width:730px){
						flex-grow: 0;
						flex-shrink: 0;
						flex-basis: 100%;
					}
				}
				.left {
					height: auto;
					overflow: hidden;
					@media (min-width:730px){
						width: 460px;
					}
					> div {
						h3 {
							font-size: 1.5em;
							margin-bottom: 10px;
							color: @blue;
							@media(max-width:720px){
								text-align: center
							}
						}
						&.newsletter {
							.input {
								height: 40px;
								.entre();
								.meio();

								#email {
									width: calc(~"100% - 120px");
									height: 40px;
									border: 1px solid @gris;
									margin-right: 20px;
									border-radius: 2px;
									padding: 0 20px;
									font: normal 1.1em/1.1 @font;
								}
								#send {
									width: 100px;
									height: 40px;
									border: none;
									background-color: @green;
									color: #FFF;
									font: bold 1.1em/1.1 @font;
									text-transform: uppercase;
									border-radius: 2px;
									cursor: pointer;
								}
							}
						}
						&.social-medias {
							margin-top: 20px;
							@media(max-width:720px){
								margin-bottom: 20px
							}
							ul {
								.esquerda();
								.meio();
								@media(max-width:720px){
									.centro()
								}
								li {
									width: 40px;
									height: 40px;
									text-align: center;
									background-color: @blue;
									display: inline-block;
									&:not(:last-child) {
										margin-right: 20px;
									}
									&:hover {
										background-color: @green;
									}
									a {
										width: 100%;
										height: auto;
										display: block;
										color: #FFF;
										font-size: 1.5em;

										i {
											line-height: 40px;
										}
									}
								}
							}
						}
					}
				}
				.rigth {
					width: 460px;
					height: auto;
					overflow: hidden;
					.entre();

					.list {
						width: 220px;

						h3 {
							font-size: 1.5em;
							margin-bottom: 10px;
							color: @blue;
						}
						ul {
							li {
								font-size: 1.077em;
								font-weight: normal;
								cursor: pointer;
								margin-bottom: 10px;
								color: @gray;

								a {
									color: @gray;

									&:hover {
										color: @dark;
									}
								}
							}
						}
					}
				}
			}
			&.middle {
				.comunicate {
					width: 100%;
					height: auto;
					overflow: hidden;
					margin-top: 20px;
					margin-bottom: 20px;
					padding-top: 40px;
					padding-bottom: 50px;
					border-top: 1px solid @gris;
					border-bottom: 1px solid @gris;

					>h3 {
						font-size: 1.8em;
						margin-bottom: 20px;
						color: @blue;
						text-align: center;
					}
					.boxes {
						.centro();

						li {
							width: 100%;
							max-width: 220px;
							height: auto;
							padding: 10px;
							margin: 0 10px;
							text-align: center;
							border: 2px solid @lime;
							border-radius: 2px;

							.icon {
								width: 50px;
								height: 50px;
								line-height: 50px;
								display: inline-block;
								border-radius: 100%;
								background-color: @green;
								margin-bottom: 10px;

								i {
									color: #FFF;
									font-size: 2em;
									line-height: 50px;
								}
							}
							.text {
								font-size: 1.1em;
								line-height: 1.2;
								color: @green;

								a {
									// text-decoration: underline;
									// text-decoration-skip: ink;
									color: @green;
									font-weight: bold;
								}
							}
						}
					}
				}
			}
			&.bottom {
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 1px solid @gris;
				.left{
					@media (max-width:720px){
						margin-bottom: 20px
					}
				}

				.left, .rigth {
					width: 460px;
					.proximo;
				}
				.content {
					margin: 0 10px;

					>h3 {
						font-size: 1.5em;
						margin-bottom: 10px;
						color: @blue;
					}
					a {
						width: auto;
						height: auto;
						display: block;

						img {
							width: auto;
							height: 40px;
						}
					}
				}
			}
			&.copy {
				small {
					width: 100%;
					height: auto;
					line-height: 1.2;
					overflow: hidden;
					text-align: center;
					margin-bottom: 10px;
					color: @gray;
					font-size: 1em;
					display: block;

					a {
						color: @blue;
						text-decoration: underline;
						text-decoration-skip: ink;
					}
				}
			}
		}
	}
}