@import "inc-config";
.banner {
    background-image: linear-gradient(to bottom, whitesmoke, white) !important;
    height: 350px !important;
    border-bottom: 1px solid whitesmoke;
    .box-banner {
        width: 100%;
        height: inherit;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            @media (max-width: 768px) {
                height: 350px !important;
            }
            display: block;
            img {
                width: auto;
                height: 100%;
            }
        }
    }
}
#has-category {
    .slick-track {
        padding: 15px 0;
    }
    .box-banner {
        max-width: 250px;
        a {
            .title {
                text-align: center;
                color: black;
                font-size: 1.3em;
                margin-top: 20px;
            }
            img {
                width: 100%;
                max-width: 250px;
                height: auto;
                border-radius: 100%;
                border: 1px solid #EFEFEF;
                transition: all .5s cubic-bezier(.37,.64,.85,.98);
                &:hover {
                    box-shadow: 0px 0px 1px 10px @blue;
                    border: none;
                }
            }
        }
    }
}