@import "inc-config";

#error{
	color: @blue;
	font-size: 80px;
	text-align: center;
	margin: 100px 10px;
	&:after {
		content: "\f071";
		font-family: @icon;
		padding: 0 10px;
	}
}
#volver{
	text-align: center;
	margin-bottom: 70px;
	a{
		color: white;
		background-color: @lime;
		padding: 20px 20px;
	}
}
#head-bar{
	display: none;
}
#sidebar{
	display: none;
}
.nav{
	display: none;
}
.commune{
	display: none;
}
.left.box-bar{
	display: none;
}
#search-box{
	display: none;
}
#head{
	display: none;
}
.bread-crumb{
	display: none;
}
.foot{
	display: none;
}