@import "inc-config";
@crismas: "Mountains of Christmas", cursive;
.banner {
    height: 300px;
    background-image: url("/arquivos/AnoNuevo-1940x400.jpg");
    background-position: center;
    background-size: auto 100%;
    text-align: center;
}
#has-category {
    #category-list {
        .entre();
        height: 270px;
        .slick-dots {
            visibility: hidden;
            height: 0;
        }
    }
    >h2 {
        font-size: 1.8em;
        color: @blue;
    }
    .thisCategory {
        height: 250px;
        padding-top: 20px;
        a {
            border-radius: 100%;
            position: relative;
            width: 100%;
            height: 100%;
            max-height: 170px;
            max-width: 170px;
            display: block;
            &:hover {
                .image {
                    &:after {
                        width: calc(~"20px + 100%");
                        height: calc(~"20px + 100%");
                    }
                }
                .text {
                    color: #00072B;
                }
            }
            .image {
                .cover {
                    width: 170px;
                    height: 170px;
                    overflow: hidden;
                    border-radius: 100%;
                }
                &:after {
                    content: '';
                    position: absolute;
                    transition: all .3s cubic-bezier(.4, 1.16, 1, 1);
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translateX(-50%) translateY(-50%);
                    -ms-transform: translateX(-50%) translateY(-50%);
                    transform: translateX(-50%) translateY(-50%);
                    border-radius: 100%;
                    width: 0;
                    height: 0;
                    background-image: linear-gradient(90deg, #00072B, @blue);
                    z-index: 0;
                }
                &:before {
                    content: '';
                    position: absolute;
                    transition: all .3s cubic-bezier(.4, 1.16, 1, 1);
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translateX(-50%) translateY(-50%);
                    -ms-transform: translateX(-50%) translateY(-50%);
                    transform: translateX(-50%) translateY(-50%);
                    border-radius: 100%;
                    width: 100%;
                    height: 100%;
                    background-color: #FFF;
                    z-index: 1;
                }
                img {
                    width: 100%;
                    height: auto;
                    z-index: 2;
                    position: relative;
                }
            }
            .text {
                font-size: 1.3em;
                height: 40px;
                line-height: 20px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-align: center;
                color: @dark;
                font-weight: bold;
                margin-top: 20px;
            }
        }
    }
}
[role=main]{
    .ofertas {
    clear: both;
    margin-bottom: 70px;
}
}
.shelf {
    .slick-dots {
                .meio() !important;
                .centro() !important;
                margin-top: 30px;
                li {
                    height: 5px;
                    padding: 0 5px;
                    &.slick-active {
                        button {
                            background-color: @blue;
                        }
                    }
                    button {
                        width: 20px;
                        height: 5px;
                        font-size: 0;
                        background-color: @gray;
                        border: none;
                        cursor: pointer;
                        vertical-align: top;
                    }
                }
            }
    h2 {
        font-size: 1.8em;
        color: @blue;
        margin-bottom: 30px;
        padding-top: 30px;

        .link-titulo {
            margin-left: 10px;
            font-size: .7em;
            color: @green;
            &:hover {
                color: @red;
            }
        }
    }
}

#topo {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: @red;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    i {
        color: white;
        font-size: 1.8em;
        line-height: 50px;
    }
}