
@import "inc-config";



[role=main]{
    margin-bottom: 100px;

    .title {
        color: @blue;
        text-align: center;
        font-size: 40px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .content {
        section{
            margin-top: 120px;
            margin-left: 100px;
            @media (max-width: 740px) {
                margin: 0;
            }
            ul {
                width: 100%;
                height: 77px;
                list-style: none !important;
                column-count: 3;
                @media (max-width: 740px) {
                    column-count: 1;
                    margin-top: 10px;
                }
                @media (max-width: 1030px) {
                    column-count: 1;
                    display: flex;
                    justify-content: space-between;
                }
                @media (max-width: 740px) {
                    column-count: 1 !important;
                    height: auto;
                }
                li {
                    height: auto;
                    width: auto;
                    list-style: none !important;
                    h2{
                        font-size: 22px;
                        margin-bottom:10px;
                    }
                    p{
                        font-size: 13px;
                        line-height: 1.5;
                    }
                }
            }
        }
        .contenedor-img{
            margin: 40px;
        }

        .pp {
            margin-top: 40px;
        }
        .forma-p{
            margin-top: 37px;
            margin-bottom: 24px;
        }
        .transferencia {
            background-color: white;
            height: 230px;
            width: 200px;
            padding: 20px;
            margin: 30px 60px;
            border: 3px solid @red;
            li{
                list-style: none !important;
                height: 40px;
                font-weight: 600;
            }
        }

        h2 {
            color: @red;
            font-size: 2em;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 15px;
            font-size: 1.2em;
            line-height: 1.3;

            br {
                margin-bottom: 10px;
            }

            a {
                color: @red;
                text-decoration: underline;
                text-decoration-skip: ink;
            }
        }
        ul {
            margin-bottom: 15px;
            li {
                list-style: inside disc;
                font-size: 1.2em;
                line-height: 1.3;                
            }
        }
    }
}

.bloque {
    .centro;
    margin-bottom: 15px;

    h3 {
        position: absolute;
        right: -5px;
        bottom: 30px;
        background: @blue;
        padding: 10px;
        color: #FFF;
        font-size: 1.5em;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;

        &:before {
            content: "";
            bottom: -5px;
            right: 0px;
            border-color: transparent darken(@blue, 20%);
            border-width: 0px 0px 5px 5px;
            position: absolute;
            border-style: solid;
            display: block;
            width: 0;
            z-index: 20;
        }
    }

    .left, .right {
        width: 50%;
        padding: 0 7.5px;
        background: #FFF;
        border-radius: 2px;
        padding: 10px;
        margin: 5px;
        position: relative;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.gracias {
    text-align: center;

    .icon {
        width: 100%;
        font-size: 10em;
        padding: 50px;
        color: @red;
    }
    h4 {
        width: 100%;
        font-size: 3em;
        color: @blue;
    }
}

#titulo-cat, #titulo-form{
    color: @blue;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}
.content{
    margin: 0 50px;
    #mision{
        text-align: left;
        margin-top: 36px;
        @media (max-width: 1030px) {
            text-align: center;
        }
    }
    #p-mision{
        text-align: left;
        margin-right: 53%;
        @media (max-width: 1030px) {
            text-align: center;
            margin-right: 0px;
        }
    }
    #vision{
        margin-left: 190px;
        text-align: center;
        margin-top: -12%;
        @media (max-width: 1030px) {
            text-align: center;
            margin-left: 0px;
            margin-top: 10px;
        }
    }
    #p-vision{
        text-align: right;
        margin-left: 51%;
        //margin-top: -7%;
        @media (max-width: 1030px) {
            text-align: center;
            margin-left: 0px;
        }
    }
    #team{
        text-align: center;
        margin: 3%;
        font-size: 34px;
        text-transform: uppercase;
        color: @blue;
    }
    #pc{
        margin-top:15px;
        text-align: left;
        @media (max-width: 1030px) {
            text-align: center;
        }
    }
    #p-pc{
        margin-right: 52%;
        @media (max-width: 1030px) {
            margin-right: 0px;
        }
    }
    #ms{
        text-align: center;
        margin-top: -260px;
        margin-bottom: -18px;
        margin-left: 190px;
        @media (max-width: 1030px) {
            margin-left: 0px;
            margin-top: 0px;
        }
    }
    #p-ms{
        margin-left: 50%;
        margin-top: 30px;
        @media (max-width: 1030px) {
            margin-left: 0px;
        }
    }
    .term-titulo, .plazo-titulo{
        margin-top: 40px;
    }
    #comunas{
        margin-top: 46px;
        columns: 3;
        margin-left: 91px;
        margin-bottom: 34px;
        li{
            list-style: none !important;
        }
    }
    .navegadores{
        column-count: 4;
        margin-top: 40px;
        margin-left: 120px;
        li{
            list-style: none !important;

        }
        @media (max-width: 730px) {
            column-count: 1;
            margin-left: 30px;
            margin-top: 0px;
            font-weight: 300;
        }
    }
    .plazo-titulo, .p-plazo{
        margin: 0 40px;
        margin-top: 40px;
    }

}