.comunas-popup {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	.centro;
	.meio;
	z-index: 4;
	visibility: hidden;

	.comunas-box {
		width: 100%;
		max-width: 300px;
		position: relative;

		@media (min-width:720px) and  (max-width:960px) {
			max-width: 720px;
		}
		@media (max-width:720px) {
			max-width: 480px;
		}
		height: 200px;
		background-color: #FFF;
		border-radius: 4px;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);

		h2 {
			text-align: center;
			text-transform: uppercase;
			color: @red;
			margin-bottom: 10px;
		}
		.text {
			width: 100%;
			height: auto;
			display: inline-block;
			text-align: center;
		}
		.close {
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;

			i {
				color: @gray;
				font-size: 1.3em;
			}
		}
		.icon {
			.centro;
			height: 42px;
			margin-top: 30px;
			margin-bottom: 10px;

			i {
				width: 42px;
				height: 42px;
				display: block;
				background-color: @blue;
				border-radius: 100%;
				text-align: center;
				line-height: 42px;
				color: #FFF;
				font-size: 2em;
			}
		}
		.commune-select {
			width: 90%;
			height: auto;
			position: relative;
			margin: 15px auto;

			.label {
				width: 100%;
				height: 32px;
				border: 1px solid @gray;
				cursor: pointer;
				// font-weight: bold;
				color: @dark;

				.value {
					width: 100%;
					height: auto;
					line-height: 32px;
					padding: 0 10px;

					i {
						float: right;
						line-height: 32px;
						margin-right: 10px;
					}
				}
			}
			.options {
				width: 100%;
				height: 140px;
				overflow-x: hidden !important;
				overflow-y: scroll !important;
				position: absolute;
				top: 32px;
				z-index: 3;
				background-color: #FFF;
				border: 1px solid @gray;
				border-top: none;
				display: none;

				div {
					width: 100%;
					height: 32px;
					line-height: 32px;
					padding: 0 10px;
					cursor: pointer;

					&:hover {
						background-color: @gris;
						color: @red;
					}
				}
			}
		}
	}
}