@mobile-width: 667px;

.elsuper-loading {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image: url(/arquivos/elsuper-loading.gif);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 30%;
	margin: 0 auto;
}

.my-lists {

	.empty-list {
		margin-top: 30px;
		li {
			color: #f15a29;
			margin-top: 20px;
		}
	}

	.new-list-popup {
		transform: scale( 0.8 );
		background: #fff;
		width: 40%;
		height: 200px;
		padding: 30px 20px;

		.btn {
			background: #00B78C;
			float: left;
			width: 35%;
			height: 42px;
			border-radius: 0;
			color: #fff;
			font-size: 1.1em;
			text-transform: uppercase;
			font-weight: bold;
			-ms-justify-content: center;
			-webkit-justify-content: center;
			justify-content: center;
			display: -ms-flex;
			display: -webkit-flex;
			display: flex;
			-ms-align-items: center;
			-webkit-align-items: center;
			align-items: center;
			transition: all .5s;
			cursor: pointer;
			&.btn-cancel { border-right: 1px solid #0c9; }

			&:hover { background: #0c9; }
			
			.fa {
				margin-right: 10px;
				font-size: 1.5em;
			}
		}

		.new-list-name {
			display: inline-block;
			width: 100%;
			background-color: #fff;
			border: 1px solid #001F62;
			color: #001F62;
			font-family: "Roboto", sans-serif;
			text-transform: uppercase;
			color: #001F62;
			border-radius: 2px;
			padding-left: 10px;
			height: 40px;
			margin: 20px 0;
			.placeholder(#808080, normal, bold);
		}
	}

	.popup_wrapper_visible .new-list-popup { transform: scale(1); }

	.user-bar {
		background: #fafafa;
		display: inline-block;
		height: 120px;
		width: 100%;
		position: relative;
		.mis-listas {
			color: #001F62;
			font-size: 20px;
			position: absolute;
			top: 65px;
			left: 19%;
			@media( max-width: 812px ) { left: 22%; }

			@media( max-width: @mobile-width ) { left: 15%; }

			.lists {
				font-size: 12px;
				margin-left: 5px;
			}
		}

		.list-button {
			float: right;
			border: 1px solid #f15a29;
			padding: 15px 20px;
			border-radius: 25px;
			background: #fff;
			color: #001F62;
			font-size: 16px;
			position: relative;
			top: 50px;
			right: 10px;
			cursor: pointer;
			transition: 0.5s;
			&:hover {
				background: #f15a29;
				color: #fff;
			}
		}

		.user-image {
			background: #001F62;
			width: 120px;
			height: 120px;
			border-radius: 50%;
			position: absolute;
			bottom: -30px;
			@media( max-width: @mobile-width) {
				display: none;
			}
			img {
				width: 50px;
				height: 50px;
				position: relative;
				top: 35px;
				left: 35px;
			}
		}
	}

	.user-lists {
		margin-top: 30px;
		.list {
			font-size: 18px;
			padding: 20px 0;
			border-bottom: 1px solid #ccc;
			margin-bottom: 10px;
			float: right;
			width: 82%;
			color: #001F62;
			ul { display: none; }

			@media( max-width: 812px ) {
				width: 100%; 
			}
		}

		.btn-see-list {
			right: 23%;
			@media( max-width: 1024px ) { right: 27%;  }
			
			@media( max-width: 812px ) { right: 30%; }

			@media( max-width: 320px ) { right: 70%; }
		}

		.btn-exclude-list { right: 2%; }

		.btn-see-list,
		.btn-exclude-list {
			border: 1px solid #f15a29;
			padding: 15px 20px;
			border-radius: 25px;
			background: #fff;
			color: #001F62;
			font-size: 16px;
			position: relative;
			cursor: pointer;
			transition: 0.5s;
			position: absolute;
			top: -18px;
			&:hover {
				background: #f15a29;
				color: #fff;
			}
			
			@media( max-width: 375px ) {
				top: -10px;
				padding: 10px 15px;
			}

			@media( max-width: 320px ) {
				top: -23px;
				padding: 10px;
			}


		}

		.list-name {
			cursor: pointer;
			display: inline-block;
			width: 100%;
			float: left;
			max-width: 40%;
			@media( max-width: @mobile-width ) { max-width: 100%; }
		}
		.list-details {
			display: inline-block;
			float: right;
			width: 60%;
			position: relative;
			@media( max-width: @mobile-width ) {
				margin-top: 30px;
				width: 100%;
			}
		}

		.list-size {
			color: grey;
			font-size: 12px;
			margin-left: 5px;
		}
		.list-value {
			font-size: 14px;
			color: #000;
			font-weight: bold;
			@media( max-width: 320px ) { display: none; }
		}
	}

	.list-titles {
		font-weight: 600;
		margin: 30px 0 15px;
		font-size: 18px;
		display: inline-block;
		width: 100%;
	}

	li[class*="product-"] {
		.fa {
			color: #000;
			font-size: 13px;
			text-align: right;
			float: right;
			position: relative;
			top: 5px;
			right: 1%;
			cursor: pointer;
		}
	}

	span[class*="product-"] { font-size: 15px; }

	.list-titles span,
	span[class*="product-"] {
		color: #000;
		display: inline-block;
	}

	.products-name-column,
	.product-name {
		width: 40%;
		@media( max-width: @mobile-width ) {
			width: 40%;
			margin-right: 5%;
		}
	}

	.products-description-column,
	.product-description {
		width: 30%;
		@media( max-width: @mobile-width ) {
			display: none !important;
		}
	}

	.products-number-column,
	.product-number {
		width: 15%;
		@media( max-width: @mobile-width ) {
			width: 25%;
			margin-right: 3%;
		}
	}

	.products-value-column,
	.product-unit-value {
		width: 10%;
	}

	.product-measurement {
		margin-left: 8%;
		@media( max-width: @mobile-width ) {
			margin-left: 0;
		}
	}
}