@import "inc-config";
.icn(@icn:"\f007") {
    a {
        &:before {
            content: @icn;
            font-family: @icon;
            margin-right: 10px;
            font-size: 1.1em;
        }
    }
}
body.home {
    #topbanner {
        display: block !important;

        .box-banner {
            width: 100%;
            height: 55px;
            overflow: hidden;
            .centro;
            a {
                cursor: pointer;
            }
        }
    }
}
header {
    width: 100%;
    height: 54px;
    background: @blue;

    .left {
        width: 180px;
        @media (max-width: 1200px) {
            .entre;
            .meio;
            width: 80px;
        }
    }
    .middle {
        width: calc(~"100% - 440px");
        @media (min-width: 960px) and (max-width:1200px) {
            width: calc(~"100% - 220px");
        }
        @media (max-width:960px) {
            width: 100%;
        }
    }
    .rigth {
        width: 180px;
        position: relative;
        .centro;
        .meio;

        @media (min-width: 960px) and (max-width:1200px) {
            width: 120px;
            .esquerda;
        }
        @media (max-width:960px) {
            width: 80px;
            .centro;
        }
    }
}

nav {
    width: 100%;
    height: 42px;
    background-color: #FFF;
    border-bottom: 1px solid lighten(@dark, 87%);
    transition: all .5s;
    &.nav-down {
        top: 54px !important;
    }
    &.nav-up {
        top: -42px !important;
    }
    .warp{
        padding: 0
    }
    .left {
        width: 220px;
        z-index: 2;
        @media(min-width:962px){
            position: relative;
        }
        @media (max-width: 1200px) {
            width: 0px;
            .hamburger {
                display: none;
            }
        }
    }
    .middle {
        width: calc(~"100% - 440px");
        // background-color: @lime;
        height: 42px;
        @media (min-width: 960px) and (max-width:1200px) {
            width: calc(~"100% - 220px");
        }
        @media (min-width:720px) and (max-width:960px) {
            width: 100%;
        }
        @media (max-width:720px) {
            width:calc(~"100% - 42px");
        }

        .item-1 { background-color: #CDE4EC; }

        .item-2 { background-color: #B8DCEC; }

        .item-3 { background-color: #F4E9F1; }
    }
    .rigth {
        width: 220px;
        position: relative;
        @media (min-width: 960px) and (max-width:1200px) {
            width: 220px;
        }
        @media (min-width:720px) and (max-width:960px) {
            width: 80px;
            .text {
                display: none;
            }
        }
        @media (max-width:720px) {
            width: 70px;
            .text {
                display: none;
            }
        }
    }
}

.head {
    width: 100%;
    height: 54px;
    .entre;
    .meio;
    #mobile-menu {
        display: none;
        cursor: pointer;
        @media (max-width: 1200px) {
            display: block;
            width: 40px;
            height: auto;
            margin-right: 10px;
            text-align: center;
            i {
                font-size: 2em;
                color: #FFF;
            }
        }
    }
    #brand {
        a {
            width: 100%;
            height: 40px;
            display: block;
            svg {
                width: auto;
                height: 40px;
                @media (max-width: 1200px) {
                    #elsuper-07 {
                        display: none;
                    }
                }
            }
        }
    }
    .middle {
        .entre();
    }
    .buscar {
        width: calc(~"50% - 10px");
        position: relative;
        z-index: 3;
        @media (max-width: 720px) {
            width: calc(~"100% - 50px");
        }
        #buscar {
            width: 100%;
            height: 40px;
            border: none;
            background-color: #FFF;
            border-radius: 2px;
            input[type="text"] {
                width: calc(~"100% - 50px");
                height: 40px;
                margin-left: 10px;
                font: normal 1.1em/40px @font;
                .placeholder(@gray, normal, bold)
            }
            .icon {
                width: 40px;
                height: 40px;
                line-height: 40px;
                display: inline-block;
                vertical-align: top;
                text-align: center;
                font-size: 1.5em;
                color: @blue;
                img {
                    width: 20px;
                    height: 20px;
                    margin-top: 10px;
                }
            }
        }
        .search-result {
            width: 150%;
            @media (max-width: 1200px) {
                width: 170%;
            }
            height: auto;
            overflow: hidden;
            position: absolute;
            background-color: #FFF;
            top: 42px;
            left: 0px;
            z-index: 3;
            border-radius: 3px;
            &:after {
                content: "";
                top: -5px;
                left: 9px;
                border-color: #FFF transparent;
                border-width: 0px 5px 5px 5px;
                position: absolute;
                border-style: solid;
                display: block;
                width: 0;
                z-index: 4;
            }
            .no-result {
                display: none;
                padding: 40px;
            }
            .result {
                display: none;
                .search-categorias {
                    width: 100%;
                    height: auto;
                    max-height: 150px;
                    overflow: hidden;
                    border-bottom: 1px solid @gris;
                    padding: 10px 20px;
                    .categorias {
                        width: 100%;
                        height: auto;
                        line-height: 32px;
                        a {
                            color: @dark;
                            font-size: 1.1em;
                            &:hover {
                                text-decoration: underline;
                                text-decoration-skip: ink;
                            }
                            .red {
                                color: @red;
                                font-weight: bold;
                            }
                        }
                    }
                }
                .search-products {
                    width: 100%;
                    height: auto;
                    max-height: 300px;
                    overflow-x: hidden;
                    overflow-y: scroll;
                    .items {
                        width: 100%;
                        height: auto;
                        padding: 0 20px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        .entre();
                        .meio();
                        &:not(:last-child) {
                            border-bottom: 1px dashed @gris;
                        }                       
                        .img {
                            width: 90px;
                            height: 90px;
                            img {
                                width: auto;
                                height: 100%;
                            }
                        }
                        .name-price {
                            width: calc(~"100% - 240px");
                            .name {
                                width: 100%;
                                height: 22px;
                                line-height: 22px;
                                overflow: hidden;
                                display: block;
                                display: -webkit-box;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                color: @blue;
                                font-weight: bold;
                                font-size: 1.1em;
                            }
                            .price {
                                width: 100%;
                                height: 22px;
                                line-height: 22px;
                                color: @red;
                                font-size: 1.1em;
                                padding: 0 10px 0 0;
                                font-weight: bold;
                                .price {
                                    color: @gray;
                                }
                            }
                        }
                        .buy {
                            width: 110px;
                            height: auto;
                            .centro();
                            button {
                                i {
                                    color: #FFF;
                                    font-size: 1.5em;
                                }
                            }
                            .qty {
                                width: 60px;
                                height: 40px;
                                border: 1px solid @gray;
                                margin-right: 10px;
                                .centro();
                                #amout {
                                    width: calc(~"100% - 20px");
                                    height: 38px;
                                    text-align: center;
                                    font: bold 1.4em/1em @font;
                                    border: none;
                                }
                                .counter {
                                    width: 20px;
                                    height: auto;
                                    position: relative;
                                    border-left: 1px solid @gray;
                                    span {
                                        width: 20px;
                                        height: auto;
                                        display: block;
                                        text-align: center;
                                        position: absolute;
                                        cursor: pointer;
                                        i {
                                            font-size: 1.1em;
                                        }
                                        &.up {
                                            top: 2px;
                                            border-bottom: 1px solid @gray;
                                        }
                                        &.down {
                                            bottom: 2px;
                                        }
                                    }
                                }
                            }
                            .buysku {
                                width: 40px;
                                height: 40px;
                                border: none;
                                background-color: @lime;
                                color: #FFF;
                                font: 500 1.1em/1em @font;
                                text-transform: uppercase;
                                cursor: pointer;
                                .cargando {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .all-results {
                    width: 100%;
                    height: auto;
                    line-height: 70px;
                    text-align: center;
                    display: block;
                    text-transform: uppercase;
                    color: @red;
                    font-weight: bold;
                    font-size: 1.1em;
                    border-top: 1px solid @gris;
                }
            }
        }
    }
    .buscar-varios {
        width: calc(~"50% - 10px");
        cursor: pointer;
        position: relative;
        z-index: 3;
        .noMark();
        #buscarvarios {
            width: 100%;
            height: 40px;
            border: none;
            background-color: #FFF;
            border-radius: 2px;
            .esquerda;
            .text {
                width: calc(~"100% - 50px");
                height: 20px;
                margin-left: 10px;
                font-size: 1.1em;
                display: inline-block;
                color: @blue;
                line-height: 20px;
                overflow: hidden;
                font-weight: bold;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                margin-top: 10px;
            }
            .icon {
                width: 40px;
                height: 40px;
                line-height: 40px;
                display: inline-block;
                text-align: center;
                font-size: 1.5em;
                color: @blue;
                img {
                    width: 24px;
                    height: 24px;
                    margin-top: 8px;
                }
            }
        }
        @media (max-width: 720px) {
            width: 40px;
            #buscarvarios {
                .text {
                    display: none;
                }
            }
        }
        .lista {
            width: 100%;
            height: auto;
            overflow: hidden;
            position: absolute;
            background-color: #FFF;
            top: 42px;
            left: 0px;
            z-index: 3;
            border-radius: 3px;
            display: none;
            @media(max-width:320px){
                width: 320px
            }
            @media(max-width:480px){
                width:90vw;
                left: initial;
                right: -10vw;
            }
            @media (min-width:482px) and (max-width: 1200px) {
                width:400px;
                
                right:0;
            }
            .top {
                .entre();
                padding: 10px;
                .title {
                    width: calc(~"100% - 20px");
                    font-size: 1.1em;
                    line-height: 21px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: @blue;
                }
                .close {
                    width: 20px;
                    text-align: center;
                    font-size: 1.5em;
                    color: @gray;
                }
            }
            .instrucion {
                padding: 10px;
                font-size: 1em;
                color: @gray;
            }
            .listado {
                padding: 0 10px;
                position: relative;
                [class^="border-"] {
                    width: 100%;
                    height: 1px;
                    border-bottom: 1px solid @gris;
                    position: absolute;
                    &.border-1 {
                        top: 40px;
                    }
                    &.border-2 {
                        top: 80px;
                    }
                    &.border-3 {
                        top: 120px;
                    }
                    &.border-4 {
                        top: 160px;
                    }
                }
                #listado {
                    width: 100%;
                    height: 170px;
                    border: none;
                    resize: none;
                    font: normal 1.1em/40px @font;
                }
            }
            .bottom {
                width: 100%;
                height: 50px;
                .proximo();
                .meio();
                a {
                    width: auto;
                    height: auto;
                    font-size: 1.1em;
                    color: @dark;
                    &:hover {
                        color: @red;
                        text-decoration: underline;
                    }
                }
                button {
                    width: 120px;
                    height: 32px;
                    font-size: 1.1em;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: @blue;
                    border: 1px solid @blue;
                    background-color: transparent;
                    cursor: pointer;
                    img {
                        width: 16px;
                        height: 16px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    .rigth {
        position: relative;
        #logar {
            .esquerda;
            .meio
        }

        .icon {
            @media (min-width:960px){
                margin-right: 10px
            }
        }

        #login {
            @media (max-width: 960px) {
                top: -7px;
                left: 0;
                height: 40px;
                width: 63px;
                font-size: 0;
                position: absolute;
                z-index: 1
            }
        }

        .welcome {
            width: auto;
            height: auto;
            line-height: 18px;
            overflow: hidden;
            cursor: pointer;
            color: #FFF;
            .noMark;
            display: inline-block;

            &.logueado {
                &:after {
                    content: "\f0d7";
                    font-family: @icon;
                    margin-left: 5px;
                    color: #FFF;
                    font-size: 1.1em;
                }
            }

            em {
                font-style: normal;

                a {
                    color: #FFF;
                    font-weight: bold;
                    .noMark;

                    &[href="/no-cache/user/logout"] {
                        display: none;
                    }
                }
            }
        }

        .logado {
            width: 220px;
            display: none;
            position: absolute;
            top: 45px;
            right: 0;
            background: #FFF;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
            z-index: 3;
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;

            li {
                height: 50px;
                line-height: 50px;
                .noMark;

                a {
                    width: 100%;
                    display: block;
                    padding: 0 10px;
                    line-height: 50px;
                    color: @blue;
                    font-weight: 700;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &.profile-data { .icn; }
                &.my-lists { .icn("\f03a"); }
                &:nth-child(3) { .icn("\f15c"); }
                &.session { .icn("\f08b"); }
                &.session {
                    border-top: 1px dotted @gris;
                    a {
                        color: @red;
                    }
                }
            }
        }
    }
}

.menu {
    .entre();
    .hamburger {
        width: 100%;
        height: 42px;
        line-height: 42px;
        font-size: 1.1em;
        text-indent: 10px;
        cursor: pointer;
        color: @blue;
        .noMark();
        &.active {
            .fa-angle-down {
                transform: rotate(180deg);
                margin-right: 0;
            }
        }
        .fa-bars {
            margin-right: 10px;
        }
        .fa-angle-down {
            float: right;
            line-height: 42px;
            text-align: center;
            margin-right: 10px;
            transition: all .5s;
            font-weight: bold;
        }
    }
    #menu {
        @media(max-width:1113px){
            top:0;
            left:0;
            height: 100%;
            width:256px;
            position:fixed;
            z-index: 5;
            -webkit-transform: translateX(-100%);
            -moz-transform: translateX(-100%);
            transform: translateX(-100%);
            display: block!important;
        }
        @media (min-width:1113px) and (max-width:1200px){
            left: 0;
            height: 100%;
            width: 256px;
            position: fixed;
            z-index: 5;
            transform: translateX(-100%);
            display: block !important;
        }
        top:43px;
        left: 0;
        z-index: 2;
        width: 100%;
        display: none;
        .nav {
            @media(max-width:1113px){
                height: 100%;
                overflow: auto!important;
                box-shadow:inset -15px 0 10px -10px rgba(0,0,0,.5);
            }
            background-color: #FFF;
            @media(min-width:962px){
                border-left: 1px solid @gris;
                border-right: 1px solid @gris;
                border-bottom: 1px solid @gris;
            }

           /* @media (max-width: 1200px) {
                width: 220px;
            }*/
            .item {
                @height: 48.8px;
                width: 100%;
                height: @height;
                line-height: @height;

                .esquerda;

                &.congelados, &.corta-duracion {
                    display: none;

                    &:after {
                        content: " ";
                    }
                }

                &:hover {
                    background-color: @gris;

                    .itemlink {
                        color: @red;
                    }
                    &:after {
                        color: @red;
                    }
                }
                &:before {
                    content: " ";
                    width: 44.4444444444px;
                    height: 44.4444444444px;
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                &:after {
                    content: "\f105";
                    font-family: @icon;
                    float: right;
                    margin-right: 10px;
                }
                .iconItems();
                .submenu {
                    @media (max-width:1113px){
                        top:0;
                        left:0;
                        height: 100%;
                        width: 100%;
                        overflow: auto;
                        z-index: 6;
                        -webkit-transform: translateX(-100%);
                        -moz-transform: translateX(-100%);
                        transform: translateX(-100%);
                        transition: transform .5s ease-in-out;
                        &.active{
                            -webkit-transform: translateX(0);
                            -moz-transform: translateX(0);
                            transform: translateX(0);
                        }
                    }
                    @media (min-width:1113px){
                        width: 1113px;
                        height: 539.8px;
                        top: 0;
                        left: 219px;
                        display: none
                    }

                    position: absolute;
                    background-color: #FFF;
                    z-index: 4;
                    border: 1px solid @gris;
                    padding: 0 10px 0 0;

                    .subitem {
                        @media (min-width:1113px) {
                            width: 25%;
                            height: 50%;
                            float: left;
                        }
                        padding: 20px 0 0;
                        overflow: hidden;
                        text-indent: 20px;
                        color: @blue;
                        display: block;

                        &.volver-item{
                            padding-top: 0;
                            .volver{
                                color: @blue;
                                font-size: 14px;
                                &:before{
                                    content: "\f0a8";
                                    margin-right: 5px;
                                    font-family: FontAwesome;
                                    color: #999999;
                                    font-size: 2rem;
                                    top: 6px;
                                    position: relative;
                                }
                            }
                        }

                        .sub-menu {
                            // width: 248px;
                            // height: 590px;
                            // position: absolute;
                            // top: -1px;
                            // left: 246px;
                            // background-color: #FFF;
                            // z-index: 1;
                            // border: 1px solid @gris;
                            // display: none;

                            .sub-item {
                                &:hover {
                                    // background-color: @gris;

                                    .sub-link {
                                        // color: @red;
                                        text-decoration: underline;
                                    }
                                }
                                &.ver-mas {
                                    .sub-link {
                                        color: @red;
                                        font-weight: bold;
                                    }
                                }
                            }

                            .sub-link {
                                width: 100%;
                                height: 25px;
                                line-height: 25px;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 1;
                                -webkit-box-orient: vertical;
                                display: block;
                                color: @blue;


                            }
                        }
                        .sublink {
                            width: 100%;
                            height: 20px;
                            line-height: 20px;
                            overflow: hidden;
                            display: block;
                            color: @green;
                            font-size: 1.2em;
                            margin-bottom: 10px;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            font-weight: bold;

                            &:hover {
                                color: @red;
                                // background-color: @gris;
                            }
                        }
                    }
                }

                .itemlink {
                    width: 100%;
                    height: 44.4444444444px;
                    display: block;
                    color: @blue;

                }
            }
        }
    }
    #sidekick {
        width: 100%;
        height: 42px;
        .items {
            width: 100%;
            height: 42px;
            .proximo;
            .meio;
            [class*="item-"] {
                width: calc(~"100% / 4");
                transition: all .5s;
                &:hover {
                    // background-color: @green;
                    cursor: pointer;
                }
                @media (min-width:1200px) and (max-width:1440px) {
                    width: calc(~"100% / 3");
                    &.item-5,
                    &.item-4 {
                        display: none;
                    }
                }
                @media (max-width:1200px) {
                    width: calc(~"100% / 3");
                    font-size: .9em;
                    &.item-2 {
                        width: 300px;
                    }
                    &.item-5,
                    &.item-4 {
                        display: none;
                    }
                }
                @media(max-width:340px){
                    padding: 0 5px
                }
                @media (min-width:342px) and (max-width:720px){
                    padding: 0 10px
                }
                &:not(:last-child):not(.item-3) {
                    border-right: 1px solid @green;
                }
                a {
                    width: 100%;
                    height: 42px;
                    color: #000;
                    font-size: 1.1em;
                    text-transform: uppercase;
                    font-weight: bold;

                    .centro;
                    .meio;
                    .icon {
                        margin-right: 10px;
                        font-size: 1.5em;
                    }
                }
            }
            [class*="item-1"] {
                &:hover { background-color: darken(#CDE4EC, 10%); }
            }
            [class*="item-2"] {
                &:hover { background-color: darken(#B8DCEC, 10%); }
            }
            [class*="item-3"] {
                &:hover { background-color: darken(#F4E9F1, 10%); }
            }
        }
    }
    #cart {
        width: 100%;
        height: 42px;
        cursor: pointer;

        .centro;
        .meio;
        &.activeHome {
            .text {
                span {
                    &.amount {
                        &:after {
                            content: "\f057";
                        }
                    }
                }
            }
        }
        .icon {
            width: 42px;
            height: 42px;
            background-image: @rcart;
            background-repeat: no-repeat;
            background-position: center;
        }
        .text {
            span {
                display: block;
                font-size: 1.1em;
                color: @red;
                &.amount {
                    font-weight: bold;
                    &:after {
                        content: "\f107";
                        font-family: @icon;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    #minicart {
        width: 220px;
        height: 350px;
        position: absolute;
        top: 63px;
        right: 0;
        z-index: 3;
        background-color: #FFF;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
        display: none;

        &:before {
            content: "";
            top: -10px;
            right: 40px;
            border-color: #FFF transparent;
            border-width: 0px 10px 10px 10px;
            position: absolute;
            border-style: solid;
            display: block;
            width: 0;
            z-index: 20;
        }
        .minicartmodelo;
    }
    #comunas {
        display: none;
    }
}

body{
    transition: transform .500s ease-in-out;
    &.active{
        top: 0;
        left:0;
        --webkit-transform: translateX(256px);
        --moz-transform: translateX(256px);
        transform: translateX(256px);
        overflow: hidden;
        position:fixed;
    }
}

.browsering {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .centro !important;
    .meio;
    visibility: hidden;
    .generical {
        width: auto;
        height: auto;
        background-color: white;
        border-radius: 4px;
        padding: 20px;
        .title {
            .entre;
            .meio;
            margin-bottom: 15px;
            h2 {
                color: @lime;
                font-size: 2em;
            }
            .close {
                font-size: 1.5em;
                cursor: pointer;
            }
        }
        table {
            width: 100%;
            height: auto;
            border-collapse: collapse;
            border: 1px solid grey;
            tr {
                border: 1px solid grey;
                th, td {
                    border: 1px solid grey;
                    text-align: center;
                    line-height: 32px;
                    font-size: 1.1em;
                    i {
                        font-size: 1.2em;
                        color: @green;
                    }
                }
                td {
                    &:first-of-type {
                        font-weight: bold;
                    }
                    width: auto;
                    min-width: 120px;

                    img {
                        width: 30px;
                        height: auto;
                        padding-top: 5px;
                    }
                }
            }
        }
        .info {
            margin-top: 10px;
            small {
                display: block;
                &:first-of-type {
                    margin-bottom: 5px;
                }
            }
        }
    }
}